:root {
  /* Colors */
  --bg-primary: #FFFFFF;
  --bg-secondary: #F0F2F3;
  --bg-tertiary: #DDE9EE;
  --bg-dark: #002E40;

  --border-default: #CCD5D9;
  --border-dark: #99ABB3;
  --border-divider: #E6EAEC;
  --border-onFill: #FFFFFF;
  --border-danger: #AF0000;
  --border-warning: #755C00;

  /* Text */
  /* 30px */ --txt-3xl: 1.875rem;
  /* 24px */ --txt-2xl: 1.5rem;
  /* 20px */ --txt-xl: 1.25rem;
  /* 18px */ --txt-lg: 1.125rem;
  /* 16px */ --txt-base: 1rem;
  /* 14px */ --txt-md: 0.875rem;
  /* 13px */ --txt-sm: 0.8125rem;
  /* 12px */ --txt-xs: 0.75rem;
  /* 11px */ --txt-xxs : 0.6875rem;

  /* Other */
  --top-menu-width-close: 52px;
  --top-menu-width-open: 180px;
  --mobile-header: 64px;
}