:root {
  /* Colors */
  --bg-primary: #FFFFFF;
  --bg-secondary: #F0F2F3;
  --bg-tertiary: #DDE9EE;
  --bg-dark: #002E40;

  --border-default: #CCD5D9;
  --border-dark: #99ABB3;
  --border-divider: #E6EAEC;
  --border-onFill: #FFFFFF;
  --border-danger: #AF0000;
  --border-warning: #755C00;

  /* Other */
  --top-menu-width-close: 52px;
  --top-menu-width-open: 180px;
  --mobile-header: 64px;
}