@layer components {
  // Sticky Issue Header
  div#sticky-issue-header {
    overflow: hidden;
    position: fixed;
    top: 0;
    left: var(--top-menu-width-close);
    right: 0;
    display: none;
    width: calc(100% - var(--top-menu-width-close));
    background-color: var(--bg-primary);
    border: none;
    border-bottom: 1px solid var(--border-default);
    margin-top: 0;
    padding: 12px;
    border-radius: 0;
    z-index: 1000;
  }

  .isTopMenuOpen div#sticky-issue-header {
    left: var(--top-menu-width-open);
    width: calc(100% - var(--top-menu-width-open));
  }

  // 特定のジャーナルに直接リンク遷移した際に、Sticky Issue Headerにコンテンツが隠れるのを防ぐ
  .controller-issues.action-show div.wiki a[name],
  .controller-issues.action-show #history div[id^="note-"],
  .controller-issues.action-show #history div[id^="change-"],
  .controller-issues.action-show #update {
    scroll-margin-top: 65px;
  }

  div#sticky-issue-header.is-visible {
    display: flex;
  }

  div#sticky-issue-header .issue-heading {
    flex-shrink: 0;
    white-space: nowrap;
    margin-right: 8px;
  }

  div#sticky-issue-header .subject {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    flex-grow: 1;
    font-weight: bold;
  }

  .controller-issues {
    #content .contextual {
      @apply mb-2
    }

    .new_issue > .box {
      @apply bg-background-secondary/50
    }

    .autoscroll {
      @apply mt-2
    }

    div.issue {
      @apply clear-both bg-background-secondary/20 border border-border-divider rounded-md mt-2 p-6
    }

    div.issue .next-prev-links {
      @apply float-right
    }

    div.issue p.author {
      @apply text-text-caption text-xs m-0
    }

    div.issue hr {
      @apply hidden
    }

    div.issue .attributes {
      @apply mt-8 mb-6
    }

    div.issue .attributes .attribute {
      @apply mb-1
    }

    div.issue .attributes .attribute .label {
      @apply text-sm text-text-default
    }

    div.issue .attribute .value {
      @apply text-sm text-text-default
    }

    div.issue .attribute .value a {
      @apply text-sm
    }

    div.issue .attribute.progress .value {
      @apply flex items-center
    }

    div.issue .description {
      // ファイルの見出しが.attachmentsと兄弟要素になっているため、.attachments側でmt-4を指定できない。そのためこちらでmb-4で対応
      @apply mt-4 mb-4
    }

    div.issue .description .contextual + p {
      @apply text-sm
    }

    div.issue .description .wiki {
      @apply text-sm text-text-default py-2 px-3
    }

    div.issue .attachments table {
      @apply mt-2
    }

    div.issue .create-subtasks-from-issue-set {
      @apply overflow-hidden mt-6
    }

    div.issue #issue_tree > .contextual + p,
    div.issue #relations > .contextual + p {
      @apply mt-3
    }

    div.issue #issue_tree {
      @apply overflow-hidden mt-6
    }

    div.issue #relations {
      @apply overflow-hidden mt-6
    }

    div.issue #relations select {
      @apply mr-2
    }

    div.issue #relations #relation_issue_to_id {
      @apply mx-2
    }

    div.issue #relations #errorExplanation {
      @apply clear-both
    }

    div.issue #checklist_for_show {
      @apply mt-6
    }

    div.issue fieldset[id^="category-"] {
      @apply px-4
    }

    div.issue fieldset[id^="category-"] legend {
      @apply -ml-1
    }

    .issues-stat {
      @apply text-xs
    }

    .issues-stat .badge {
      @apply mr-2
    }

    .issues-stat .open {
      @apply ml-0.5
    }

    .issues-stat .closed {
      @apply text-xs text-text-caption mx-0.5
    }


    // issue edit
    #update {
      @apply mt-6
    }

    #issue-form {
      @apply block mt-2
    }

    .edit_issue .box {
      @apply border-none p-0
    }

    #issue_is_private_wrap {
      @apply flex items-center
    }

    #issue_is_private_wrap input[type="checkbox"] {
      @apply mt-1
    }

    #issue_is_private_wrap + p {
      @apply clear-both
    }

    #issue-form .box fieldset {
      @apply p-4
    }


    // カスタムフィールドカテゴリー
    #issue-form.edit_issue fieldset[id^="category-"] {
      @apply pb-0
    }

    // カスタムフィールドカテゴリーを閉じているとき
    #issue-form.edit_issue fieldset.collapsible.collapsed[id^="category-"] {
      @apply mb-0
    }

    #issue-form.edit_issue fieldset[id^="category-"] .splitcontent {
      @apply my-0
    }


    #attributes .splitcontent {
      @apply my-4
    }

    #issue-form #all_attributes .splitcontentleft {
      @apply mr-0 mb-2
    }

    #issue-form #all_attributes .splitcontentright {
      @apply ml-0
    }

    #log_time .splitcontent {
      @apply mb-4
    }

    #issue-form #attachments_form {
      @apply border-t border-border-divider mt-4 pt-4
    }

    #issue-form #watchers_form_container {
      @apply border-t border-border-divider mt-4 pt-4
    }

    #watchers_inputs {
      @apply overflow-visible -mt-2
    }


    // 一括編集
    #bulk-selection {
      @apply my-4 ml-6
    }

    #bulk-selection li {
      @apply list-disc
    }

    &.action-bulk_edit {
      fieldset {
        @apply pt-2 px-3 pb-3 rounded-md
      }

      fieldset ~ fieldset {
        @apply mt-4
      }

      .splitcontent + .splitcontent {
        @apply mt-2
      }
    }
  }
}