#my-page {
  width: 100%;
}

#list-top {
  padding-top: 0;
}

.mypage-box h3 {
  margin-bottom: 0.5rem;
}

.mypage-box .contextual + .contextual {
  margin-right: 0.5rem;
}

#block-issuequery__2 .box {
  border-style: none;
  padding: 0;
}