#edit-news,
.new_news {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

#comments .comments + p a,
#comments + p a {
  background-image: url(images/chat_bubble_default.svg);
  background-position: left top 1px;
  background-repeat: no-repeat;
  padding-left: 1.25rem;
}

#comments .comments + p {
  margin-bottom: 1rem;
}

// index
.news-article {
  background-color: var(--bg-primary);
  border: 1px solid var(--border-divider);
  padding: 1.5rem;
}

.news-article:first-of-type {
  margin-top: 1rem;
  border-top-left-radius: var(--bd-radius-md);
  border-top-right-radius: var(--bd-radius-md);
}

.news-article:last-of-type {
  border-bottom-left-radius: var(--bd-radius-md) /* 6px */;
  border-bottom-right-radius: var(--bd-radius-md) /* 6px */;
}

.news-article ~ .news-article {
  border-top-width: 0px;
}

.news-article header h3 {
  font-size: var(--txt-md);
  line-height: 1.25rem;
  color: var(--txt-default);
}

.news-article header h3 a {
  font-size: var(--txt-base);
  line-height: 1.5rem;
}

.news-article .author {
  font-size: var(--txt-xs);
  line-height: 1rem;
  color: var(--txt-caption);
  margin-bottom: 0.5rem;
  margin-left: 2rem;
}

.news-article .wiki {
  margin-left: 2rem;
}

// mypage news index
#block-news p ~ p {
  border-top: 1px solid var(--border-divider);
  margin-top: 1.5rem;
  padding-top: 1.5rem;
}

#block-news .summary {
  display: inline-block;
  margin-top: 0.5rem;
}

#block-news .author {
  display: inline-block;
  margin-top: 0.5rem;
}


// show
.controller-news.action-show {
  #edit-news + p {
    color: var(--txt-caption);
    font-size: var(--txt-md);
    line-height: 1.25rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  #edit-news + p .author {
    margin-top: 0.5rem /* 8px */;
  }

  #edit-news + p + .wiki {
    background-color: var(--bg-primary);
    border: 1px solid var(--border-divider);
    padding: 1.5rem;
    border-radius: var(--bd-radius-md);
  }

  .wiki + .attachments {
    margin-top: 1rem /* 16px */;
  }

  // show > comment
  #comments {
    margin-top: 1rem /* 16px */;
  }

  .comments {
    font-weight: bold;
    margin-bottom: 0.5rem;
  }

  #comments h4 {
    border-top: 1px solid var(--border-divider);
    padding-top: 1rem;
  }

  #comments .contextual {
    margin-top: 0.75rem;
  }

  #comments .wiki {
    margin-top: 0.25rem;
    margin-bottom: 2rem;
    padding-left: 1.75rem;
  }

  #comments .wiki:last-of-type {
    border-bottom: 1px solid var(--border-divider);
    margin-bottom: 0;
  }

  #add_comment_form .box {
    border-style: none;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 0;
  }

  #add_comment_form textarea {
    width: 100%;
  }
}

// Box news TODO: プロジェクト名とNews名にjsで動的にClassをつける
.box.news p + p {
  margin-top: 1.5rem;
}

.box.news p > a:nth-child(1):not(:last-child) {
  display: inline-block;
  background-color: var(--bg-secondary);
  font-size: var(--txt-xs);
  line-height: 1rem;
  padding: 0.25rem 0.5rem;
  border-radius: var(--bd-radius-md);
  margin-right: 0.25rem;
  margin-bottom: 0.5rem;
}

.box.news p > a:nth-child(1):hover {
  text-decoration-line: none;
}

.box.news p > a:nth-child(1)::after {
  content: '\A';
  white-space: pre;
}

.box.news p > a:nth-child(1) + br {
  display: none;
}

.box.news p > a:nth-child(2) {
  display: inline-block;
  font-size: var(--txt-md);
  line-height: 1.25rem;
  color: var(--txt-default);
  font-weight: bold;
}

.box.news .comments {
  margin-left: 0.5rem;
}

.box.news .summary {
  display: block;
  font-size: var(--txt-md);
  line-height: 1.25rem;
  color: var(--txt-caption);
  margin-bottom: 0.5rem;
}

.box.news .summary + br {
  display: none;
}

.box.news .author {
  display: block;
  font-size: var(--txt-xs);
  line-height: 1rem;
  color: var(--txt-caption);
}

.box.news .author abbr {
  margin-left: 0.25rem;
}

.box.news p + a {
  display: inline-block;
  font-size: var(--txt-xs);
  line-height: 1rem;
  margin-top: 1rem;
}