@layer components {
  .controller-search {
    #search-results {
      @apply relative pl-4
    }

    #search-results::before {
      content: '';
      position: absolute;
      top: 8px;
      left: 3px;
      width: 1px;
      height: calc(100% - 8px);

      @apply bg-border-divider
    }

    #search-results h3 {
      @apply relative text-sm font-bold mb-2 
    }

    #search-results h3::before {
      content: '';
      position: absolute;
      top: 50%;
      left: -16px;
      display: block;
      width: 7px;
      height: 7px;
      transform: translateY(-50%);

      @apply bg-product-default rounded-full
    }

    #search-resulets + h3 {
      @apply mt-8
    }

    #search-results dt {
      @apply clear-left border-t border-dotted border-border-divider mt-4 pt-4
    }

    #search-results dt:first-child {
      @apply border-t-0 mt-0
    }

    #search-results dt.icon {
      background-position: 0 1.125rem;
    }

    #search-results span.project:after {
      content: '-';

      @apply py-1
    }

    #search-results dd {
      @apply text-xs my-2 pl-4
    }

    #search-results dd span.description.aw_has_description {
      @apply block bg-background-secondary text-xs text-text-caption mb-2 px-4 py-2 rounded-lg
    }



    #scope {
      @apply mr-2
    }

    input[name="all_words"] + label {
      @apply mr-2
    }

    #search-form {
      @apply mb-6
    }

    #search-types label ~ label {
      @apply ml-2
    }

    #options-content p {
      @apply mt-2
    }

    #options-content p label ~ label {
      @apply ml-2
    }

    #search-results-counts {
      float: right;
    }

    #search-results-counts  li {
      float: left;
      list-style-type: none;
      @apply ml-4
    }

    #search-results-counts + h3 {
      @apply text-base
    }
  }
}