@layer components {
  .controller-settings {
    .tabs:has(+#tab-content-general) {
      margin-bottom: 0.5rem;
    }

    .box.settings {
      background-color: rgba(var(--bg-secondary-rgb), 0.5);
    }

    [id^="tab-content-"] .box {
      background-color: rgba(var(--bg-secondary-rgb), 0.5);
    }

    [id^="tab-content-"] .box.settings,
    [id^="tab-content-"] .box:has(> .settings) {
      margin-bottom: 1rem;
      padding-top: 6px;
      padding-bottom: 6px;
    }

    [id^="tab-content-"] .box.settings.enabled_scm {
      padding-left: 16px;
      padding-right: 16px;
    }

    .box.settings .box {
      background-color: transparent;
      border-width: 0;
      padding-left: 0;
      padding-right: 0;
      padding-bottom: 0;
    }

    .query-columns {
      margin-bottom: 1rem;
    }

    #setting_project_list_display_type_board {
      margin-top: -0.25rem;
      margin-left: 0.5rem;
    }

    #setting_project_list_display_type_list {
      margin-top: -0.25rem;
      margin-left: 0;
    }

    #message_box_notified_events > legend {
      float: left;
      margin-bottom: 0.5rem;
    }

    #message_box_notified_events > legend ~ label {
      clear: both;
    }

    #notified_events br,
    #message_box_notified_events br {
      display: none;
    }

    #commit-keywords {
      margin-bottom: 1rem;
    }

    p label {
      color: var(--txt-default);
    }

    /* 管理→設定→チケットトラッキング */
    // 表示項目設定の「合計」ラベル
    input#settings_issue_list_default_totals_ + .inline {
      padding-left: 8px;
    }

    /* 管理→設定→リポジトリ */
    #tab-content-repositories table th {
      text-align: left;
    }
  }

  .controller-custom_field_categories {
    .nodata {
      clear: both;
      margin-top: 1rem;
    }
  }

  .controller-enumerations {
    .nodata {
      margin-top: 1rem;
    }
  }

  .controller-auth_sources.controller-auth_sources {
    td.buttons a {
      text-indent: 0;
      width: auto;
      height: auto;
      background-color: transparent;
      background-position: left center;
      border-width: 0;
      padding-top: 0;
      padding-bottom: 0;
      padding-left: 20px;
    }

    td.buttons a:hover,
    td.buttons a:active {
      background-color: transparent;
      border-width: 0;
    }

    td.buttons .icon-del {
      margin-left: 0.5rem;
    }
  }
}