.controller-webhooks {
  #events fieldset {
    border-color: var(--border-divider);
    padding: 0 1rem 1rem;
    border-radius: var(--bd-radius-md);
  }

  #events fieldset + fieldset {
    margin-top: 1rem;
  }
}
