.controller-projects {
  .table-list {
    margin-top: 0.5rem;
  }

  .table-list-row .table-list-cell {
    padding: 0.5rem;
  }

  .table-list-row {
    border-top: 1px solid var(--border-divider);
  }

  .table-list-cell.name a {
    padding-left: 0.5rem;
  }
}

.controller-boards {
  img.gravatar {
    margin: 0px;
    margin-right: 0.25rem;
  }

  .board .description {
    margin-left: 1.25rem;
  }

  .pagination + p {
    display: block;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  #reply .box p:not(:first-child) {
    margin-top: 1rem;
  }

  #reply .box label {
    font-weight: bold;
    font-size: var(--txt-md);
    line-height: 1.25rem;
    color: var(--txt-default);
  }

  #reply .box #message_subject {
    width: 100%;
    margin-top: 0.5rem;
  }

  #reply .box #message_content {
    width: 100%;
  }

  // 新規メッセージ
  #add-message {
    margin-bottom: 2rem;
  }

  #message-form .box {
    clear: both;
    margin-top: 1rem;
  }

  #message-form #message_subject {
    width: 100%;
    margin-bottom: 1rem;
  }

  #message-form #message_locked {
    margin-left: 0.5rem;
  }

  #message-form p ~ p {
    margin-top: 1rem;
  }
}

// メッセージ編集／リプライ
.controller-messages {
  .message:not(.reply) .wiki {
    clear: both;
    background-color: var(--bg-primary);
    border: 1px solid var(--border-divider);
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    padding: 2rem;
    border-radius: var(--bd-radius-md);
  }

  #message-form #message_subject {
    width: 100%;
    margin-bottom: 1rem;
  }

  #message-form #message_locked {
    margin-left: 0.5rem;
  }

  #message-form p ~ p {
    margin-top: 1rem;
  }

  #reply {
    margin-top: 0.5rem;
  }

  #reply #message_subject {
    width: 100%;
  }

  #replies .comments + .reply {
    margin-top: 0.5rem;
  }

  #replies .message.reply {
    background-color: var(--bg-primary);
    border: 1px solid var(--border-divider);
    margin-top: 1rem;
    padding: 1.5rem;
    border-radius: var(--bd-radius-md);
  }

  #replies .message.reply + .reply {
    scroll-margin-top: -12rem;
  }

  #replies .message.reply .wiki,
  #replies .message.reply .attachments {
    padding-left: 2rem;
  }

  #replies .message.reply .attachments {
    margin-top: 1rem;
  }

  #replies + .pagination + p {
    margin-top: 1rem;
  }
}