@layer components {
.box, .mypage-box {
  background-color: var(--bg-primary);
  border: 1px solid var(--border-divider);
  margin-bottom: 1.5rem;
  padding: 1rem;
  border-radius: var(--bd-radius-md);
}

.box h3 {
  font-size: var(--txt-md);
  line-height: 1.25rem;
  color: var(--txt-default);
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0.5rem;
}

// Issues
.edit_issue fieldset {
  background-color: var(--bg-primary);
  border: 1px solid var(--border-divider);
  margin-bottom: 1.5rem;
  padding: 1rem;
  border-radius: var(--bd-radius-md);
}

.box.issues table.list + p {
  font-size: var(--txt-xs);
  line-height: 1rem;
  margin-top: 0.5rem;
}

// Members
.box.members p + p {
  margin-top: 0.5rem;
}

.box.members .label {
  color: var(--txt-default);
}

.box.members .label + a ~ a {
  margin-left: 0.25rem;
}

// Spent Time
.box.spent_time ul {
  font-size: var(--txt-md);
  line-height: 1.25rem;
  color: var(--txt-default);
}

.box.spent_time ul li:not(:first-child) {
  margin-top: 0.25rem;
}

.box.spent_time ul + p {
  font-size: var(--txt-xs);
  line-height: 1rem;
  margin-top: 0.5rem;
}
}
