.breadcrumb, .breadcrumb a {
  font-size: var(--txt-md);
  line-height: 1.25rem;
  color: var(--txt-default);
}

.breadcrumb a {
  margin-right: 0.25rem;
}

.breadcrumb a:first-child {
  margin-left: 0;
}

.breadcrumb a:not(:first-child) {
  margin-left: 0.25rem;
}

.breadcrumb a:last-child {
  margin-right: 0;
}