@layer components {
  .BTN_PRIMARY {
    @apply cursor-pointer inline-block h-auto bg-product-default border border-product-default text-text-onFill text-sm py-2 px-3 rounded-md shadow hover:bg-product-hover hover:shadow-none active:bg-product-active active:shadow-none
  }

  .BTN_SECONDARY {
    @apply cursor-pointer inline-block h-auto bg-background-primary border border-border-default text-text-default text-sm py-2 px-3 rounded-md shadow hover:no-underline hover:bg-background-primary hover:border-border-dark hover:shadow-none active:bg-background-secondary active:shadow-none
  }

  .BTN_SECONDARY_ICON_LEFT {
    @apply cursor-pointer inline-block h-auto bg-background-primary bg-[0.75rem_center] bg-no-repeat border border-border-default text-text-default text-sm py-2 pl-7 pr-3 rounded-md shadow hover:no-underline hover:bg-background-primary hover:border-border-dark hover:shadow-none active:bg-background-secondary active:shadow-none
  }

  .BTN_SECONDARY_ICON_ONLY {
    @apply cursor-pointer inline-block overflow-hidden indent-[100%] whitespace-nowrap w-6 h-6 bg-center bg-no-repeat align-middle bg-background-primary border border-border-default text-sm p-0 rounded-md hover:bg-background-primary hover:border-border-dark hover:shadow-none active:bg-background-secondary active:shadow-none
  }

  .BTN_TERTIARY {
    @apply cursor-pointer inline-block h-auto bg-background-secondary border border-background-secondary text-text-default text-sm py-2 px-3 rounded-md hover:border-border-default hover:no-underline hover:text-text-default active:bg-background-tertiary
  }

  .BTN_TERTIARY_ICON_ONLY {
    @apply cursor-pointer inline-block overflow-hidden indent-[100%] whitespace-nowrap w-6 h-6 bg-center align-middle bg-background-secondary border border-background-secondary text-sm p-0 rounded-md hover:border-border-default active:bg-background-tertiary
  }

  .BTN_TERTIARY_ICON_RIGHT {
    @apply cursor-pointer inline-block h-auto bg-[right_0.75rem_center] bg-background-secondary border border-background-secondary bg-no-repeat text-text-default text-sm py-2 pr-7 pl-3 rounded-md hover:border-border-default hover:no-underline hover:text-text-default active:bg-background-tertiary
  }

  .BTN_TERTIARY_ICON_LEFT {
    @apply cursor-pointer inline-block h-auto bg-[0.75rem_center] bg-background-secondary bg-no-repeat border border-background-secondary text-text-default text-sm py-2 pr-3 pl-7 rounded-md hover:border-border-default hover:no-underline hover:text-text-default active:bg-background-tertiary
  }

  .BTN_LINK {
    @apply cursor-pointer inline-block h-auto bg-transparent border border-transparent text-text-link text-sm py-2 px-3
  }

  .buttons {
    @apply text-sm
  }

  .buttons * {
    margin: 0;
  }

  .aw_cancelBtn {
    @extend .BTN_LINK;
  }

  .aw_secondaryBtn {
    @extend .BTN_SECONDARY;
  }

  // Main Menuの開閉ボタン
  .aw_toggleMainMenu {
    @extend .BTN_SECONDARY_ICON_ONLY;
    background-image: url(images/move_left_default.svg);
    @apply absolute top-[1rem] left-[0.75rem] z-10
  }

  .aw_toggleMainMenu.isMainMenuClose {
    background-image: url(images/menu_default.svg);
    @apply right-0 left-auto
  }

  .lgc-is-fullscreen .aw_toggleMainMenu,
  .task-kanban-is-fullscreen .aw_toggleMainMenu,
  .controller-resource_management .aw_toggleMainMenu,
  .controller-lychee_message_box_my_boxes .aw_toggleMainMenu,
  .controller-lychee_message_box_informations .aw_toggleMainMenu,
  .controller-lychee_message_box_system_errors .aw_toggleMainMenu,
  .controller-time_management .aw_toggleMainMenu,
  .controller-project_report_overview .aw_toggleMainMenu,
  .controller-lychee_work_plan .aw_toggleMainMenu {
    @apply hidden
  }

  // Sidebarの開閉ボタン
  .aw_toggleSidebar {
    @extend .BTN_SECONDARY_ICON_ONLY;
    background-image: url(images/move_right_default.svg);
    transition-property: right;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
    @apply absolute top-[1.15rem] right-[14.25rem] z-10
  }

  .aw_toggleSidebar.isSidebarClose {
    background-image: url(images/menu_default.svg);
    transition-property: right;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
    @apply right-[0.25rem]
  }

  // .aw_toggleSidebar.aw_fixed_sidebarToggleBtn {
  //   @apply fixed
  // }

  .lgc-is-fullscreen .aw_toggleSidebar,
  .task-kanban-is-fullscreen .aw_toggleSidebar,
  .controller-resource_management .aw_toggleSidebar {
    @apply hidden
  }

  // tableタグ要素にも使われており、flexにすることでtableが崩れてしまうのでそれは除外
  .buttons:not(th, td, .table-list-cell) {
    @apply flex items-center gap-2
  }

  // ロール設定ページ
  .controller-roles table.list td.buttons {
    @apply text-right
  }

  table.list td.buttons a, div.buttons a {
    @apply mr-0
  }

  table.list td.buttons a,
  table.list td.buttons .icon-only {
    @extend .BTN_TERTIARY_ICON_ONLY;
  }

  table.list td.buttons:after {
    content: none;
  }

  input[type=submit],
  button[type=submit] {
    @extend .BTN_PRIMARY;
  }

  #login-form #login-submit {
    @extend .BTN_PRIMARY;
    @apply w-full
  }

  #content > .contextual > a:not(.task-kanban-icon),
  p.buttons a {
    @extend .BTN_SECONDARY;
    @apply inline-block
  }

  #content > .contextual .drdn:not(.icon) .drdn-trigger {
    background-image: url(images/more_dark.svg);

    @extend .BTN_TERTIARY_ICON_ONLY;
    @apply bg-no-repeat w-[38px] h-[38px]
  }

  // チケット詳細>添付ファイルでのicon-onlyをtertialy buttonに
  .attachments .contextual .icon-only {
    @extend .BTN_TERTIARY_ICON_ONLY;
    @apply w-6 h-6
  }

  // journalのcontextualをtertialy buttonに
  .contextual .journal-actions .icon-only {
    @extend .BTN_TERTIARY_ICON_ONLY;
    @apply w-6 h-6
  }

  // contextual(ページタイトル右のボタン群を個別にカスタマイズする:特定のものだけPrimaryにする)
  #content > .contextual > a.icon-add,
  #content > .contextual > a.icon-time-add {
    background-image: url(images/add_circle_onFill.svg);

    @apply bg-product-default border-product-default text-text-onFill hover:bg-product-hover active:bg-product-active
  }

  #content > .contextual > a.icon,
  #content > .contextual .drdn.icon,
  p.buttons a.icon {
    @apply h-auto bg-[8px_center] pr-3 pl-7 py-2
  }

  #content > .contextual > a ~ a {
    @apply ml-2
  }

  input[name="follow"] {
    @extend .BTN_SECONDARY;
    @apply ml-2
  }

  input[name="continue"] {
    @extend .BTN_SECONDARY;
    @apply ml-2
  }

  // APIキー表示から戻るときのボタン（ただのaタグなので個別で指定）
  .action-show_api_key #content .box + p a[href="#"] {
    @extend .BTN_SECONDARY;
  }

  // journal編集時のキャンセルボタン
  .journal input[type="submit"] + a {
    @extend .BTN_LINK;
    @apply mt-2 ml-2
  }


  // tabs-buttons
  div.tabs-buttons {
    @apply top-1/2 flex items-center w-auto h-auto -translate-y-1/2
  }

  button.tab-left, button.tab-right {
    @extend .BTN_TERTIARY_ICON_ONLY;
    @apply static;
  }

  button.tab-left.disabled, button.tab-right.disabled {
    @apply opacity-50 bg-background-secondary
  }

  button.tab-right {
    @apply ml-1
  }


  #main-menu li a.new-object {
    @extend .BTN_TERTIARY_ICON_ONLY;

    background-image: url(images/add_dark.svg);

    @apply bg-no-repeat bg-[length:16px_16px] bg-center
  }

  #main-menu li a.new-object:hover,
  #main-menu li a.new-object:active {
    background-image: url(images/add_dark.svg);
  }

  .search_for_watchers a {
    @extend .BTN_TERTIARY_ICON_LEFT;
    @apply mt-4
  }


  .controller-messages #replies .message.reply .contextual a {
    @extend .BTN_TERTIARY_ICON_ONLY;
    @apply w-6 h-6
  }

  // Issue詳細の子チケット追加など
  .controller-issues {
    .create-subtasks-from-issue-set .contextual a,
    #issue_tree .contextual a,
    #relations .contextual a {
      @extend .BTN_TERTIARY;
      @apply text-xs py-1 px-2
    }
  }

  // Filter
  #query_form p.buttons a.icon,
  #levm_query_form .buttons a.icon {
    @extend .BTN_LINK;
    @apply bg-[left_center] text-xs pr-2 pl-4 py-1 shadow-none
  }

  // 管理→設定のフィルタ(filter.scssも参照)
  // 設定 > プロジェクト
  // 設定 > ユーザー
  .controller-admin,
  .controller-users,
  .controller-groups {
    h2 + form input[type="submit"] {
      @extend .BTN_PRIMARY;
      @apply text-xs py-1 px-2 ml-1
    }

    input[type="submit"] + .icon-reload {
      @extend .BTN_SECONDARY_ICON_LEFT;
      @apply bg-[0.5rem_center] bg-[length:14px_14px] text-xs py-1 pr-2 pl-6 ml-1
    }
  }

  .controller-projects {
    #tab-content-versions {
      form input[type="submit"] {
        @extend .BTN_PRIMARY;
        @apply text-xs py-1 px-2 ml-1
      }
  
      input[type="submit"] + .icon-reload {
        @extend .BTN_SECONDARY_ICON_LEFT;
        @apply bg-[0.5rem_center] bg-[length:14px_14px] text-xs py-1 pr-2 pl-6 ml-1
      }
    }

    .boards {
      .buttons .icon-only,
      .buttons .icon-edit,
      .buttons .icon-del {
        @extend .BTN_TERTIARY_ICON_ONLY;
      }
    }
  }

  // ライセンス管理の戻るボタン
  .controller-lychee_licenses {
    input[name="commit"] + a {
      @extend .BTN_LINK;
      @apply ml-1
    }
  }

  // Time Management
  .controller-time_management {
    #filters + .buttons .icon-checked {
      @extend .BTN_LINK;
      @apply bg-[left_center] text-xs pr-2 pl-4 py-1 shadow-none
    }
  }

  // Lychee Cost
  #lychee_cost_expenses {
    @apply mt-4
  }

  #lychee_cost_expenses #x_months ~ a {
    @extend .BTN_SECONDARY_ICON_LEFT;
    @apply bg-[0.5rem_center] bg-[length:14px_14px] text-xs py-1 pr-2 pl-6 ml-1
  }

  .lychee_cost_expenses .icon.icon-edit,
  .lychee_cost_expenses .icon.icon-del {
    @extend .BTN_TERTIARY_ICON_ONLY;
  }

  // Lychee Gantt Chart
  .controller-lgc.controller-lgc {
    .lgc-form-cancelButton {
      @extend .BTN_SECONDARY;
      @apply text-xs
    }

    .lgc-issueDetail-submit button.lgc-form-button {
      @extend .BTN_PRIMARY;
      @apply text-xs
    }
  }

  // Lychee CCPM
  .controller-projects.controller-projects {
    .reflect_critical_path {
      background-image: url(images/refresh_default.svg);
      @extend .BTN_SECONDARY_ICON_LEFT;
      @apply mt-2
    }
  }
}