.BTN_PRIMARY {
  cursor: pointer;
  display: inline-block;
  height: auto;
  font-size: var(--txt-xs);
  line-height: 1rem;
  background-color: var(--product-default);
  border: 1px solid var(--product-default);
  color: var(--txt-onFill);
  padding-top: 0.375rem;
  padding-bottom: 0.375rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  border-radius: var(--bd-radius-md);
  box-shadow: var(--shadow);

  &:hover {
    background-color: var(--product-hover);
    box-shadow: var(--shadow-none);
  }

  &:active {
    background-color: var(--product-active);
    box-shadow: var(--shadow-none);
  }
}

.BTN_SECONDARY {
  cursor: pointer;
  display: inline-block;
  height: auto;
  font-size: var(--txt-xs);
  line-height: 1rem;
  background-color: var(--bg-primary);
  border: 1px solid var(--border-default);
  color: var(--txt-default);
  padding-top: 0.375rem;
  padding-bottom: 0.375rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  border-radius: var(--bd-radius-md);
  box-shadow: var(--shadow);

  &:hover {
    text-decoration-line: none;
    background-color: var(--bg-primary);
    border-color: var(--border-dark);
    box-shadow: var(--shadow-none);
  }

  &:active {
    background-color: var(--bg-secondary);
    box-shadow: var(--shadow-none);
  }
}

.BTN_SECONDARY_ICON_LEFT {
  cursor: pointer;
  display: inline-block;
  height: auto;
  font-size: var(--txt-xs);
  line-height: 1rem;
  background-color: var(--bg-primary);
  background-position: 0.75rem center;
  background-repeat: no-repeat;
  border: 1px solid var(--border-default);
  color: var(--txt-default);
  padding-top: 0.375rem;
  padding-bottom: 0.375rem;
  padding-left: 1.5rem;
  padding-right: 0.5rem;
  border-radius: var(--bd-radius-md);
  box-shadow: var(--shadow);

  &:hover {
    text-decoration-line: none;
    background-color: var(--bg-primary);
    border-color: var(--border-dark);
    box-shadow: var(--shadow-none);
  }

  &:active {
    background-color: var(--bg-secondary);
    box-shadow: var(--shadow-none);
  }
}

.BTN_TERTIARY {
  cursor: pointer;
  display: inline-block;
  height: auto;
  font-size: var(--txt-xs);
  line-height: 1rem;
  background-color: var(--bg-secondary);
  border: 1px solid var(--bg-secondary);
  color: var(--txt-default);
  padding-top: 0.375rem;
  padding-bottom: 0.375rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  border-radius: var(--bd-radius-md);

  &:hover {
    text-decoration-line: none;
    border-color: var(--border-default);
    color: var(--txt-default);
  }

  &:active {
    background-color: var(--bg-tertiary);
  }
}

.BTN_TERTIARY_ICON_ONLY {
  cursor: pointer;
  display: inline-block;
  font-size: var(--txt-xs);
  line-height: 1rem;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  width: 1.5rem;
  height: 1.5rem;
  background-color: var(--bg-secondary);
  background-position: center;
  border: 1px solid var(--bg-secondary);
  vertical-align: middle;
  padding: 0;
  border-radius: var(--bd-radius-md);

  &:hover {
    border-color: var(--border-default);
  }

  &:active {
    background-color: var(--bg-tertiary);
  }
}

.BTN_TERTIARY_ICON_ONLY_OUTLINED {
  cursor: pointer;
  display: inline-block;
  font-size: var(--txt-xs);
  line-height: 1rem;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  width: 1.5rem;
  height: 1.5rem;
  background-position: center;
  background-repeat: no-repeat;
  vertical-align: middle;
  background-color: var(--bg-primary);
  border: 1px solid var(--border-default);
  padding: 0;
  border-radius: var(--bd-radius-md);

  &:hover {
    background-color: var(--bg-secondary);
    border-color: var(--border-default);
  }

  &:active {
    background-color: var(--bg-tertiary);
  }
}

.BTN_TERTIARY_ICON_RIGHT {
  cursor: pointer;
  display: inline-block;
  height: auto;
  font-size: var(--txt-xs);
  line-height: 1rem;

  background-position: right 0.75rem center;
  background-repeat: no-repeat;
  background-color: var(--bg-secondary);
  border: 1px solid var(--bg-secondary);
  color: var(--txt-default);
  padding-top: 0.375rem;
  padding-bottom: 0.375rem;
  padding-right: 1.5rem;
  padding-left: 0.5rem;
  border-radius: var(--bd-radius-md);

  &:hover {
    border-color: var(--border-default);
    text-decoration-line: none;
    color: var(--txt-default);
  }

  &:active {
    background-color: var(--bg-tertiary);
  }
}

.BTN_TERTIARY_ICON_LEFT {
  cursor: pointer;
  display: inline-block;
  height: auto;
  font-size: var(--txt-xs);
  line-height: 1rem;

  background-position: 0.75rem center;
  background-repeat: no-repeat;
  background-color: var(--bg-secondary);
  border: 1px solid var(--bg-secondary);
  color: var(--txt-default);
  padding-top: 0.375rem;
  padding-bottom: 0.375rem;
  padding-right: 0.5rem;
  padding-left: 1.5rem;
  border-radius: var(--bd-radius-md);

  &:hover {
    border-color: var(--border-default);
    text-decoration-line: none;
    color: var(--txt-default);
  }

  &:active {
    background-color: var(--bg-tertiary);
  }
}

.BTN_LINK {
  cursor: pointer;
  display: inline-block;
  height: auto;
  font-size: var(--txt-xs);
  line-height: 1rem;

  background-color: transparent;
  border: 1px solid transparent;
  color: var(--txt-link);
  padding-top: 0.375rem;
  padding-bottom: 0.375rem;
  padding-right: 0.5rem;
  padding-left: 0.5rem;

  &:hover {
    text-decoration-line: underline;
  }
}

.buttons {
  font-size: var(--txt-xs);
  line-height: 1rem;
}

.buttons * {
  margin: 0;
}

.aw_cancelBtn {
  @extend .BTN_LINK;
}

.aw_secondaryBtn {
  @extend .BTN_SECONDARY;
}

form.tabular table.list + input[type="submit"] {
  margin-top: 0.5rem;
}

// topへ戻るボタン（LIFよりは下に配置するためのz-index指定）
.aw_backToTop {
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  width: 2rem;
  height: 2rem;
  background-image: url(images/arrow_upward_onFill.svg);
  background-position: center;
  vertical-align: middle;
  background-color: rgba(var(--bg-dark-rgb), 0.8);
  background-repeat: no-repeat;
  border-style: none;
  padding: 0;
  border-radius: var(--bd-radius-lg);
  z-index: 499;

  &:hover {
    background-color: rgba(var(--bg-dark-rgb), 0.7);
    box-shadow: var(--shadow-md);
  }
}

// Sidebarの開閉ボタン
.aw_toggleSidebar {
  @extend .BTN_TERTIARY_ICON_ONLY_OUTLINED;

  position: absolute;
  top: 1rem;
  right: 14.25rem;
  z-index: 10;
  background-image: url(images/move_right_default.svg);
}

.isSidebarClose .aw_toggleSidebar {
  background-image: url(images/move_left_default.svg);
  right: 0.25rem;
}

.lgc-is-fullscreen .aw_toggleSidebar,
.task-kanban-is-fullscreen .aw_toggleSidebar,
.controller-resource_management .aw_toggleSidebar {
  display: none;
}

// tableタグ要素にも使われており、flexにすることでtableが崩れてしまうのでそれは除外
.buttons:not(th, td, .table-list-cell) {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.5rem;
}

// ロール設定ページ
.controller-roles table.list td.buttons {
  text-align: right;
}

table.list td.buttons a, div.buttons a {
  margin-right: 0;
}

table.list td.buttons a {
  margin-left: 0;
  margin-right: 0;
  margin-left: 0.25rem;
}

table.list td.buttons .icon-only {
  @extend .BTN_TERTIARY_ICON_ONLY_OUTLINED;

  width: 1.25rem;
  height: 1.25rem;
  margin-left: 0px;
  margin-right: 0px;
  margin-left: 0.25rem;
}

table.list td.buttons:after {
  content: none;
}

input[type=submit],
button[type=submit] {
  @extend .BTN_PRIMARY;

  &.mobile-show {
    display: none;
  }
}

#login-form #login-submit {
  @extend .BTN_PRIMARY;

  width: 100%;
}

#lychee_saml_auth_redirect_to_auth_request_box input[type=submit] {
  @extend .BTN_SECONDARY;
}

#content > .contextual > a:not(.task-kanban-icon),
p.buttons a {
  @extend .BTN_SECONDARY;

  display: inline-block;
}

#content > .contextual .drdn:not(.icon) .drdn-trigger {
  @extend .BTN_TERTIARY_ICON_ONLY;

  background-image: url(images/more_dark.svg);
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
}

// チケット詳細>添付ファイルでのicon-onlyをtertialy buttonに
.attachments .contextual .icon-only {
  @extend .BTN_TERTIARY_ICON_ONLY;

  width: 1.5rem;
  height: 1.5rem;
}

// journalのcontextualをtertialy buttonに
.contextual .journal-actions .icon-only,
.journal .journal-actions .icon-comment {
  @extend .BTN_TERTIARY_ICON_ONLY;

  width: 1.5rem;
  height: 1.5rem;
}

// 6.1でアイコンがtertiary icon onlyになっていない問題へ対応
.journal-header .journal-meta .icon-only.icon-quote,
.journal-header .journal-meta .icon-only.icon-edit,
.journal-header .journal-meta .icon-only.icon-actions {
  @extend .BTN_TERTIARY_ICON_ONLY;

  width: 1.5rem;
  height: 1.5rem;
}

// contextual(ページタイトル右のボタン群を個別にカスタマイズする:特定のものだけPrimaryにする)
#content > .contextual > a.icon-add,
.controller-timelog #content > .contextual > a.icon-time-add {
  background-color: var(--product-default);
  background-image: url(images/add_circle_onFill.svg);
  border-color: var(--product-default);
  color: var(--txt-onFill);

  &:hover {
    background-color: var(--product-hover);
  }

  &:active {
    background-color: var(--product-active);
  }
}

#content > .contextual > a.icon,
#content > .contextual .drdn.icon,
p.buttons a.icon {
  height: auto;
  background-position: 8px center;
  padding-top: 0.375rem;
  padding-bottom: 0.375rem;
  padding-right: 0.5rem;
  padding-left: 1.5rem;
}

input[name="follow"] {
  @extend .BTN_SECONDARY;

  margin-left: 0.375rem;
}

input[name="continue"] {
  @extend .BTN_SECONDARY;

  margin-left: 0.375rem;
}

// APIキー表示から戻るときのボタン（ただのaタグなので個別で指定）
.action-show_api_key #content .box + p a[href="#"] {
  @extend .BTN_SECONDARY;
}

// journal編集時のキャンセルボタン
.journal input[type="submit"] + a {
  @extend .BTN_LINK;

  margin-top: 0.5rem;
  margin-left: 0.375rem;
}

/* tabs-buttons */
div.tabs-buttons {
  display: flex;
  top: 50%;
  right: 0.5rem;
  width: auto;
  height: 28px;
  transform: translateY(-50%);
}

button.tab-left, button.tab-right {
  @extend .BTN_PRIMARY;

  position: static;
  width: 28px;
}

button.tab-left.disabled, button.tab-right.disabled {
  opacity: 0.5;
  background-color: var(--product-active);
}

button.tab-right {
  margin-left: 0.25rem;
}


#main-menu li a.new-object {
  @extend .BTN_TERTIARY_ICON_ONLY;

  display: block;
  width: 32px;
  height: 32px;
  background-image: url(images/add_dark.svg);
  background-repeat: no-repeat;
  background-size: 16px 16px;
  background-position: center;
  border-color: var(--border-default);
  border-radius: 10px;
  box-shadow: var(--shadow);
}

#main-menu li a.new-object:has(+ .visible) {
  background-color: var(--bg-tertiary);
}

#main-menu li a.new-object:hover,
#main-menu li a.new-object:active {
  background-image: url(images/add_dark.svg);
}

.search_for_watchers a {
  @extend .BTN_TERTIARY_ICON_LEFT;

  margin-top: 1rem;
  padding-left: 2rem;
}


// フォーラムのコメントの編集や削除アイコン
.controller-messages #replies .message.reply .contextual a {
  @extend .BTN_TERTIARY_ICON_ONLY;

  width: 1.5rem;
  height: 1.5rem;
}

// 6.1以降でフォーラムのコメント編集や削除アイコンが見えなくなる問題への対処
// Note: .icon-onlyがないため、高さが指定されておらず、見えなくなっている
.controller-messages .journal-meta .icon:not(.reaction-button),
.controller-messages .journal-meta .icon-only.icon-quote {
  @extend .BTN_TERTIARY_ICON_ONLY;

  width: 1.5rem;
  height: 1.5rem;
}


// 6.1ニュースのコメント削除アイコンをフォーラムやジャーナルに合わせる
.controller-news .journal-meta .icon-del {
  @extend .BTN_TERTIARY_ICON_ONLY;

  width: 1.5rem;
  height: 1.5rem;
}

// Issue詳細の子チケット追加など
.controller-issues {
  .create-subtasks-from-issue-set .contextual a,
  #issue_tree .contextual a,
  #relations .contextual a {
    @extend .BTN_TERTIARY;

    background-position: 8px center;
    font-size: var(--txt-xs);
    line-height: 1rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    padding-right: 0.5rem;
    padding-left: 1.5rem;
  }
}

// Filter
#query_form p.buttons a.icon,
#levm_query_form .buttons a.icon {
  @extend .BTN_LINK;

  background-position: left center;
  font-size: var(--txt-xs);
  line-height: 1rem;
  padding-right: 0.5rem;
  padding-left: 1rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  box-shadow: var(--shadow-none);
}

// Lychee Project Dashboardの「コピー」ボタン
.controller-lychee_project_dashboards {
  #content button[type="submit"] {
    cursor: pointer;
    background-color: var(--product-default);
    color: var(--txt-onFill);

    &:hover {
      background-color: var(--product-hover);
    }
  }
}

// 管理→設定のフィルタ(filter.scssも参照)
// 設定 > プロジェクト
// 設定 > ユーザー
.controller-admin,
.controller-groups {
  input[type="submit"] + .icon-reload {
    @extend .BTN_SECONDARY_ICON_LEFT;

    background-position: 0.5rem center;
    background-size: 14px 14px;
    font-size: var(--txt-xs);
    line-height: 1rem;
    margin-left: 0.25rem;
    padding-top: 0.375rem;
    padding-bottom: 0.375rem;
    padding-right: 0.5rem;
    padding-left: 1.5rem;
  }
}

.controller-users.action-index {
  h2 + form input[type="submit"] {
    @extend .BTN_PRIMARY;
    font-size: var(--txt-xs);
    line-height: 1rem;
    margin-left: 0.25rem;
    padding-top: 0.375rem;
    padding-bottom: 0.375rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  input[type="submit"] + .icon-reload {
    @extend .BTN_SECONDARY_ICON_LEFT;
    font-size: var(--txt-xs);
    line-height: 1rem;
    background-position: 0.5rem center;
    background-size: 14px 14px;
    margin-left: 0.25rem;
    padding-top: 0.375rem;
    padding-bottom: 0.375rem;
    padding-right: 0.5rem;
  }
}

.controller-projects {
  #tab-content-versions {
    form input[type="submit"] {
      @extend .BTN_PRIMARY;

      font-size: var(--txt-xs);
      line-height: 1rem;
      margin-left: 0.25rem;
      padding-top: 0.375rem;
      padding-bottom: 0.375rem;
      padding-left: 0.5rem;
      padding-right: 0.5rem;
    }

    input[type="submit"] + .icon-reload {
      @extend .BTN_SECONDARY_ICON_LEFT;

      background-position: 0.5rem center;
      background-size: 14px 14px;
      font-size: var(--txt-xs);
      line-height: 1rem;
      margin-left: 0.25rem;
      padding-top: 0.375rem;
      padding-bottom: 0.375rem;
      padding-right: 0.5rem;
      padding-left: 1.5rem;
    }
  }

  .boards {
    .buttons .icon-only,
    .buttons .icon-edit,
    .buttons .icon-del {
      @extend .BTN_TERTIARY_ICON_ONLY;
    }
  }
}

.controller-roles {
  #filters form input[type="submit"] {
    font-size: var(--txt-xs);
    line-height: 1rem;
    padding-top: 0.375rem;
    padding-bottom: 0.375rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  #filters form .icon-reload {
    @extend .BTN_SECONDARY_ICON_LEFT;

    background-position: 0.5rem center;
    background-size: 14px 14px;
    font-size: var(--txt-xs);
    line-height: 1rem;
    margin-left: 0.25rem;
    padding-top: 0.375rem;
    padding-bottom: 0.375rem;
    padding-right: 0.5rem;
    padding-left: 1.5rem;
  }
}

.pre-wrapper .copy-pre-content-link.icon-only {
  @extend .BTN_TERTIARY_ICON_ONLY_OUTLINED;

  width: 1.25rem;
  height: 1.25rem;
  margin-right: 0;
  margin-left: 0.25rem;
}

// ライセンス管理の戻るボタン
.controller-lychee_licenses {
  input[name="commit"] + a {
    @extend .BTN_LINK;

    margin-left: 0.25rem;
  }
}

// リポジトリのキャンセルボタン
// - theme.jsでaw_cancelBtnを適用しているが、バージョン管理システム毎にViewを再レンダリングしているようで、切り替えるとcssが適用されなくなるためこちらで適用する
#repository-form  input[type="submit"] + a {
  @extend .BTN_LINK;
}

// カスタムフィールド→キーバリューリストの選択肢編集画面
.controller-custom_field_enumerations {
  // 戻るボタンの装飾
  #content form:not(#add-element) p:has(> input[type="submit"]) a {
    @extend .BTN_SECONDARY;
  }
}

// Time Management
.controller-time_management {
  #filters + .buttons .icon-checked {
    @extend .BTN_LINK;

    background-position: left center;
    font-size: var(--txt-xs);
    line-height: 1rem;
    padding-top: 0.375rem;
    padding-bottom: 0.375rem;
    padding-right: 0.5rem;
    padding-left: 1rem;
    box-shadow: var(--shadow-none);
  }
}

// Lychee Cost
#lychee_cost_expenses {
  margin-top: 1rem;
}

#lychee_cost_expenses #x_months ~ a {
  @extend .BTN_SECONDARY_ICON_LEFT;

  background-position: 0.5rem center;
  background-size: 14px 14px;
  font-size: var(--txt-xs);
  line-height: 1rem;
  margin-left: 0.25rem;
  padding-top: 0.375rem;
  padding-bottom: 0.375rem;
  padding-right: 0.5rem;
  padding-left: 1.5rem;
}

.lychee_cost_expenses .icon.icon-edit,
.lychee_cost_expenses .icon.icon-del {
  @extend .BTN_TERTIARY_ICON_ONLY;
}

// Lychee Gantt Chart
.controller-lgc.controller-lgc {
  .lgc-form-cancelButton {
    @extend .BTN_SECONDARY;

    font-size: var(--txt-xs);
    line-height: 1rem;
  }

  .lgc-issueDetail-submit button.lgc-form-button {
    @extend .BTN_PRIMARY;

    font-size: var(--txt-xs);
    line-height: 1rem;
  }

  .lgc-chart-relatable-dialog button {
    @extend .BTN_SECONDARY;
  }
}

// Lychee Gantt Chart 5.0
.controller-lychee_gantt_chart.controller-lychee_gantt_chart {
  div[class^="lgc-RelationTypeSelector"] button[type="button"]:not([class]) {
    @extend .BTN_SECONDARY;
  }
}

// Lychee CCPM
.controller-projects.controller-projects {
  .reflect_critical_path {
    @extend .BTN_SECONDARY_ICON_LEFT;

    background-image: url(images/refresh_default.svg);
    background-position: 0.5rem center;
  }
}

// Lychee Project Report
.controller-project_reports.controller-project_reports {
  .popup-content button:not([class]) {
    @extend .BTN_SECONDARY;

    margin-top: 0.25rem;
  }

  .popup-content button + button {
    margin-left: 0.25rem;
  }
}

.controller-indice_settings {
  #content > .contextual a {
    border-style: none;
    color: var(--txt-link);
    padding: 0;
    box-shadow: var(--shadow-none);
  }

  #content > .contextual a.icon {
    padding-left: 1.5rem;
  }

  #content h3 + .contextual a:not([class]) {
    @extend .BTN_PRIMARY;
    background-image: url(images/add_circle_onFill.svg);
    background-repeat: no-repeat;
    background-position: 0.7rem center;
    padding-left: 1.75rem;
  }
}

.controller-project_report_settings,
.controller-project_report_active_shared_layouts,
.controller-enabled_report_indice_settings {
  #content > .contextual a {
    border-style: none;
    color: var(--txt-link);
    padding: 0;
    box-shadow: var(--shadow-none);
  }

  #content > .contextual a.icon {
    padding-left: 1.5rem;
  }
}

.controller-project_report_queries {
  #content > .contextual a {
    border-style: none;
    color: var(--txt-link);
    padding: 0;
    box-shadow: var(--shadow-none);
  }
}

// Lychee Issue Form
.lychee-issue-form__container_full,
.lychee-issue-form__container_half {
  button.watch, button.context,
  button.mini-context {
    cursor: pointer;
    display: inline-block;
    width: 1.5rem /* 24px */;
    height: 1.5rem /* 24px */;
    background-position: center;
    vertical-align: middle;
    background-color: var(--bg-secondary);
    border: 1px solid var(--bg-secondary);
    font-size: var(--txt-xs);
    line-height: 1rem;
    padding: 0;
    border-radius: var(--bd-radius-md);

    &:hover {
      border: 1px solid var(--border-default);
    }

    &:active {
      background-color: var(--bg-tertiary);
    }
  }

  button.watch svg,
  #dialog-footer button.context svg,
  button.mini-context svg {
    margin-top: -0.125rem;
    margin-right: 0px;
    padding: 0px;
  }

  .lif-tab-content #tab-content-comments_and_journals .comment-properties .add,
  .lif-tab-content #tab-content-comments_and_journals .comment-edit-properties .add,
  .lif-tab-content #tab-content-comments_and_journals .comment-properties .cancel,
  .lif-tab-content #tab-content-comments_and_journals .comment-edit-properties .cancel,
  .attachment_files .buttons-area button.cancel,
  .attachment_files .buttons-area button.update {
    padding: 0.5rem 0.75rem;
  }


  #dialog-footer #create-issue,
  #dialog-footer #sequential-create-issue {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }

  #dialog-footer #create-issue {
    margin: 0;
  }

  #dialog-footer #sequential-create-issue {
    margin-left: 0.25rem;
  }

  #tab-buttons button,
  #tab-buttons button:hover {
    margin-left: 1px;
    margin-right: 1px;
    padding-top: 0.375rem;
    padding-bottom: 0.375rem;
    border-radius: var(--bd-radius-md);
  }

  .popup-ticket-context ul li button,
  .popup-journal-context ul li button {
    align-items: center;
  }

  #tab-content-time_entries .item .context-menus > form {
    display: inline;
  }
}