#context-menu { position: absolute; z-index: 40; font-size: 0.9em;}

#context-menu li {
  position:relative;
  padding:1px;
  z-index:39;
  border:1px solid white;
}

#context-menu.reverse-y li.folder>ul, #context-menu li.folder.up>ul { top:auto; bottom:0; }
#context-menu.reverse-x li.folder ul { left:auto; right:168px; /* IE6 */ }

#context-menu.reverse-y li.folder.down>ul {
  position:absolute; top:-2px; bottom: auto; max-height:300px; overflow:hidden; overflow-y: auto;
}

#context-menu a {
  text-decoration:none;
  padding: 2px 0px 2px 20px;
  width:100%; /* IE */
}
#context-menu li>a { width:auto; } /* others */
#context-menu a.disabled, #context-menu a.disabled:hover {color: #aaa;}
#context-menu li a.submenu { padding-right:16px; background:url("../images/arrow_right.png") right no-repeat; }
#context-menu li.folder:hover { z-index:40; }
#context-menu ul ul, #context-menu  li:hover ul ul { display:none; }
#context-menu li:hover ul, #context-menu li:hover li:hover ul { display:block; }
#context-menu a.icon-checked {background-position: 3px 40%; background-repeat: no-repeat;}

/* selected element */
.context-menu-selection { background-color:#507AAA; color:#f8f8f8; }
.context-menu-selection a, .context-menu-selection a:hover { color:#f8f8f8; }
.context-menu-selection:hover { background-color:#507AAA; color:#f8f8f8 ; }
div#gantt_area .context-menu-selection { background-color: rgba(80, 122, 170, 0.48); }
div#gantt_area .context-menu-selection:hover { background-color: rgba(80, 122, 170, 0.48); }
div#gantt_area .context-menu-selection a { color: #169; }

@layer components {
  #context-menu ul {
    @apply w-[180px] bg-background-primary border border-solid border-border-default rounded-md shadow-lg m-0 p-0.5
  }

  #context-menu li {
    @apply border-none p-0 rounded
  }

  #context-menu li:hover {
    @apply bg-background-secondary
  }

  #context-menu li:not(:first-child) {
    @apply mt-0.5
  }

  #context-menu li.folder ul {
    position:absolute;
    top:-2px;
    max-height:300px;
    overflow:hidden;
    overflow-y: auto;

    @apply left-[172px]
  }

  #context-menu li.folder > ul {
    @apply left-[172px]
  }

  #context-menu.reverse-x li.folder > ul {
    @apply right-[172px]
  }

  #context-menu li > a {
    @apply block text-xs text-text-default py-1 pl-8 pr-2
  }

  #context-menu li > a[class^="icon"],
  #context-menu .lgc-icon-magicStick,
  #context-menu .icon-fav,
  #context-menu .icon-fav-off {
    background-position: 12px 50%;
  }

  #context-menu li > a.submenu {
    @apply pr-8
  }

  #context-menu li a.submenu {
    background-image: url(images/chevron_right_default.svg);
    background-position: right 12px center;
    background-size: 16px;
    background-repeat: no-repeat;
  }

  .context-menu-selection.context-menu-selection,
  .context-menu-selection.context-menu-selection:hover {
    @apply bg-background-primary text-text-default
  }

  .context-menu-selection.context-menu-selection a,
  .context-menu-selection.context-menu-selection a:hover {
    @apply text-text-link;
  }
}