@layer components {
  div.modal.ui-dialog {
    @apply z-[1000]
  }

  div.modal.ui-dialog + .ui-widget-overlay {
    @apply z-[999]
  }

  // 通常css
  div.modal {
    @apply bg-background-primary border-border-divider p-6 rounded-lg z-50
  }

  div.modal h3.title {
    @apply hidden
  }

  div.modal p.buttons {
    @apply text-right mt-2 mb-0
  }

  div.modal .box p {
    @apply my-1.5 mx-0
  }

  div.modal.ui-widget-content {
    @apply bg-none
  }

  div.modal .ui-widget-header {
    @apply bg-transparent bg-none border-none text-sm text-text-default font-bold p-0
  }

  .ui-dialog .ui-dialog-title {
    @apply float-none m-0
  }

  .ui-dialog .ui-dialog-titlebar-close {
    top: 0;
    right: 0;
    width: 24px;
    height: 24px;

    @apply border-none m-0 p-0
  }

  .ui-button .ui-icon.ui-icon-closethick {
    background-image: url(images/close_dark.svg);
    background-position: center center;
    background-size: 24px;
  }

  .ui-dialog .ui-dialog-content {
    @apply mt-4 p-0
  }


  // CSV Export
  div.modal #csv-export-form p:not([class]) {
    @apply py-1
  }

  #csv-export-options fieldset {
    @apply pt-1 px-3 pb-3
  }

  div.modal #csv-export-form #csv-export-block-columns label + label {
    @apply ml-2
  }


  // ウォッチャー追加ダイアログ
  div.modal #users_for_watcher {
    @apply mt-4
  }

  div.modal #users_for_watcher label + label {
    @apply mt-2
  }

  div.modal #users_for_watcher label input[type="checkbox"],
  div.modal #users_for_watcher label .gravatar {
    @apply mr-1
  }


  // Ajax indicator(ロード中に表示されるダイアログ)
  html>body #ajax-indicator { position: fixed; }

  #ajax-indicator {
    @apply absolute top-[35%] left-[40%] w-[20%] bg-background-secondary border border-border-default font-bold text-center p-2 z-[100] rounded-md shadow-lg opacity-80
  }

  #ajax-indicator span {
    background-position: 0% 40%;
    background-repeat: no-repeat;
    background-image: url(images/spinner_default.gif);
    background-size: 16px;
    padding-left: 26px;
    vertical-align: bottom;
  }
}