@layer components {
  div.modal {
    @apply bg-background-primary border-border-divider p-6 rounded-lg z-50
  }

  div.modal h3.title {
    @apply hidden
  }

  div.modal p.buttons {
    @apply text-right mb-0
  }

  div.modal .box p {
    @apply my-1.5 mx-0
  }

  div.modal .ui-widget-header {
    @apply bg-transparent border-none text-sm font-bold p-0
  }

  .ui-dialog .ui-dialog-title {
    @apply float-none m-0
  }

  .ui-dialog .ui-dialog-titlebar-close {
    top: 0;
    right: 0;
    width: 24px;
    height: 24px;

    @apply border-none m-0 p-0
  }

  .ui-button .ui-icon.ui-icon-closethick {
    background-image: url(images/close_dark.svg);
    background-position: center center;
    background-size: 24px;
  }

  .ui-dialog .ui-dialog-content {
    @apply mt-4 p-0
  }


  // ウォッチャー追加ダイアログ
  div.modal #users_for_watcher {
    @apply mt-4
  }

  div.modal #users_for_watcher label + label {
    @apply mt-2
  }

  div.modal #users_for_watcher label input[type="checkbox"],
  div.modal #users_for_watcher label .gravatar {
    @apply mr-1
  }
}