@layer components {
  .drdn {
    @apply relative
  }

  .drdn-trigger {
    @apply cursor-pointer overflow-hidden text-ellipsis whitespace-nowrap select-none
  }

  .drdn-content {
    @apply hidden absolute top-[25px] right-0 min-w-[100px] bg-background-primary border border-border-default text-text-default rounded-md shadow-lg z-[100]
  }

  .drdn.expanded .drdn-content {
    @apply block
  }

  .drdn-items {
    @apply overflow-auto max-h-[400px]
  }

  div + .drdn-items {
    @apply border-t border-border-divider
  }

  .drdn-items > * {
    @apply overflow-hidden block border border-white text-ellipsis whitespace-nowrap py-1 px-2
  }

  .drdn-items span {
    @apply text-text-caption
  }

  .contextual .drdn-items {
    @apply p-0
  }

  .drdn-content .quick-search {
    @apply m-2
  }

  .drdn-items > strong {
    @apply border-0 border-t border-border-divider text-text-caption text-xs font-normal px-3 pt-2 pb-1
  }

  .drdn-items.selection>strong::before {
    content: none;
  }

  div+.drdn-items > strong:first-of-type {
    @apply border-none
  }

  .drdn-items > a + strong {
    @apply mt-1
  }

  .drdn-items > a,
  .contextual .drdn-items > a.icon {
    @apply text-sm text-text-default mx-1 py-2 px-3 rounded
  }

  .drdn-items > a:first-child {
    @apply mt-1
  }

  .drdn-items > a:not(:first-child),
  .contextual .drdn-items > a.icon:not(:first-child) {
    @apply mt-0.5
  }

  .contextual .drdn-items > a.icon {
    @apply pl-6
  }

  #project-jump .drdn {
    @apply inline-block w-[200px]
  }

  #project-jump .drdn-content {
    @apply w-[280px]
  }

  #project-jump .drdn-items > * {
    @apply text-text-default
  }
  .drdn-items > a:hover,
  #project-jump .drdn-items > a:hover,
  .contextual .drdn-items > a.icon:hover {
    @apply bg-background-secondary border-background-secondary no-underline
  }

  .drdn-items > a:last-of-type {
    @apply mb-1
  }

  .drdn-items.all-projects a {
    @apply mt-1
  }

  .drdn-items.selection>*:before {
    content:' ';
    display:inline-block;
    line-height:1em;
    width:1em;
    height:1em;
    margin-right:4px;
    font-weight:bold;
  }

  .drdn-items.selection:empty {
    @apply border-0
  }

  .drdn-items.selection > *.selected::before {
    content: url(images/done_dark.svg);
    @apply w-4 h-4 translate-y-[3px]
  }


  /* Contextual */
  .contextual {
    @apply flex items-center flex-wrap text-sm gap-1.5 m-0 pt-0 px-0 pb-2
  }
}