#errorExplanation {
  background-image: url(images/error_danger.svg);
  background-repeat: no-repeat;
  background-position: 8px 50%;
  background-color: var(--bg-primary);
  border: 1px solid var(--status-danger);
  color: var(--txt-danger);
  font-size: var(--txt-md);
  line-height: 1.25rem;
  padding-right: 0.75rem;
  padding-left: 2rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-radius: var(--bd-radius-md);
}