@layer components {
fieldset legend {
  font-size: var(--txt-md);
  line-height: 1.25rem;
  color: var(--txt-default);
}

fieldset.box.tabular.settings {
  border-color: var(--border-divider);
  padding: 1rem;
}

fieldset.box legend {
  font-weight: bold;
}
}
