@layer components {
#filters-table {
  width: 100%;
}

.add-filter {
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.add-filter label {
  display: inline-block;
  width: 160px;

  font-size: var(--txt-xs);
  line-height: 1rem;

  color: var(--txt-caption);
  text-align: right;
  margin-right: 0.375rem;
}

fieldset#filters, fieldset#options {
  font-size: var(--txt-xs);
  line-height: 1rem;
}

fieldset#filters fieldset,
fieldset#options fieldset {
  padding-top: 0.5rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-bottom: 0.75rem;
  border-radius: var(--bd-radius-md);
}

fieldset#filters legend,
fieldset#options legend,
.controller-lgc fieldset#filters ~ fieldset legend {
  font-size: var(--txt-xs);
  line-height: 1rem;
  font-weight: bold;
}

fieldset#filters legend.icon,
fieldset#options legend.icon,
.controller-lgc fieldset#filters ~ fieldset legend.icon {
  background-position: left center;
  background-size: 12px 12px;
  color: var(--txt-caption);
  margin-bottom: 0.5rem;
}

fieldset#filters legend.icon-expanded,
fieldset#filters legend.icon-expended,
fieldset#filters legend.icon-collapsed {
  background-image: url(images/filter_alt_default.svg);
}

fieldset#options legend.icon-expanded,
fieldset#options legend.icon-expended,
fieldset#options legend.icon-collapsed {
  background-image: url(images/arrow_split_default.svg);
}

fieldset#filters td,
fieldset#options td {
  padding-bottom: 0.5rem;
}

fieldset#filters td.field {
  width: 160px;
  min-width: 160px;
  vertical-align: middle;
}

fieldset#filters td.field label {
  font-size: var(--txt-xs);
  line-height: 1rem;
}

fieldset#filters td.operator {
  width: 130px;
  min-width: 130px;
}

fieldset#filters td.operator select {
  max-width: none;
  width: 100%;
}

fieldset#filters td.values {
  width: calc(100% - 290px);
  padding-left: 0.5rem;
}

fieldset#filters td.values > span {
  display: flex;
  align-items: center;
}

fieldset#filters td.values select {
  min-width: 130px;
}

fieldset#options {
  margin-top: 0.5rem;
}

fieldset#options label.inline input[type="checkbox"] {
  margin-right: 0;
}

fieldset#filters legend + div {
  padding-left: 1rem;
  padding-right: 1rem;
}

/* 6.0 start */
div#filters-table + .add-filter label {
  // 6.0だと数pxずれるので位置調整のためにサイズを上書き指定
  width: 162px;
}

/*
  * Note:
  *   table#filters-table div...の指定について
  *   側は<table id="filters-table">と、5.x系のHTML、
  *   内部は<div class="filter"><div class="filed">...</div>と、6.x系のHTML
  *   となっている箇所があるため、その形式にも対応しておく
*/
div#filters-table {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

div#filters-table .filter,
table#filters-table div.filter {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

table#filters-table div.filter ~ div.filter {
  margin-top: 0.5rem;
}

div#filters-table .field,
table#filters-table div.field {
  width: 160px;
  min-width: 160px;
  vertical-align: middle;
}

div#filters-table .field label,
table#filters-table div.field label {
  font-size: var(--txt-xs);
  line-height: 1rem;
}

div#filters-table .operator,
table#filters-table div.operator {
  width: 130px;
  min-width: 130px;
}

div#filters-table .operator select,
table#filters-table div.operator select {
  max-width: none;
  width: 100%;
}

div#filters-table .values,
table#filters-table div.values {
  width: calc(100% - 290px);
}

div#filters-table .values > span,
table#filters-table div.values > span {
  display: flex;
  align-items: center;
}

div#filters-table .values select,
table#filters-table div.values select {
  min-width: 130px;
}
/* 6.0 end */


#query_form_with_buttons .buttons {
  flex-wrap: wrap;
  gap: 0.25rem;
  margin-bottom: 0.5rem;
}


.query-columns {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.query-columns > span {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.query-columns label {
  display: block;
  font-size: var(--txt-xs);
  line-height: 1rem;
  margin-bottom: 0.25rem;
}

.query-columns .buttons {
  flex-direction: column;
  gap: 0.25rem;
}

// 利用できる項目＋選択された項目
.query-columns .buttons input[type="button"] {
  font-family: serif;
  cursor: pointer;
  display: block;
  background-color: var(--bg-primary);
  width: 1.75rem;
  height: 1.75rem;
  border-color: var(--border-default);
  padding: 0.25rem;
  border-radius: var(--bd-radius-md);

  &:hover {
    border-color: var(--border-dark);
  }

  &:active {
    background-color: var(--bg-secondary);
  }
}

.query-columns select {
  min-width: 150px;
}

/* オプションのマルチセレクトの高さが失われるバグ対応のため、マルチセレクトの高さを固定する */
.query-columns select[multiple] {
  height: 200px;
}

// カンバン・バックログは他のcssによりheightが上書きされるため、詳細度を高めて対応
.controller-kanban.controller-kanban .query-columns select[multiple],
.controller-backlog.controller-backlog .query-columns select[multiple] {
  height: 200px;
}

/* 6.0 start */
// Note: 5.x以前はtable#list-definition, 6.x以降はdiv#list-definitionなのでそこで区別する
div#list-definition > div {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

div#list-definition > div:not(:first-child) {
  margin-top: 0.5rem;
}

div#list-definition .field {
  width: 120px;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

div#list-definition .query-columns {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

div#list-definition .buttons {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}



div#list-definition .buttons [type="button"] {
  font-family: serif;
  cursor: pointer;
  display: block;
  background-color: var(--bg-primary);
  width: 1.75rem;
  height: 1.75rem;
  border: 1px solid var(--border-default);
  padding: 0.25rem;
  border-radius: var(--bd-radius-md);
}

div#list-definition .buttons [type="button"]:hover {
  border: 1px solid var(--border-dark);
}

div#list-definition .buttons [type="button"]:active {
  background-color: var(--bg-secondary);
}

// プロジェクト設定>Lycheeカンバンは#list-definitionというidがなかったので、特別対応
.controller-projects #tab-content-lychee_kanban .kanban-display-users legend + div {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.25rem;
}

.controller-projects #tab-content-lychee_kanban .kanban-display-users .query-columns {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.controller-projects #tab-content-lychee_kanban .kanban-display-users .buttons {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.controller-projects #tab-content-lychee_kanban .kanban-display-users .buttons [type="button"] {
  font-family: serif;
  cursor: pointer;
  display: block;
  background-color: var(--bg-primary);
  width: 1.75rem;
  height: 1.75rem;
  border: 1px solid var(--border-default);
  padding: 0.25rem;
  border-radius: var(--bd-radius-md);
}

.controller-projects #tab-content-lychee_kanban .kanban-display-users .buttons [type="button"]:hover {
  border: 1px solid var(--border-dark);
}

.controller-projects #tab-content-lychee_kanban .kanban-display-users .buttons [type="button"]:active {
  background-color: var(--bg-secondary);
}

// LGCはtd#list-definition > divという構造になっていたので特別対応
td#list-definition > div {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.25rem;
}

td#list-definition .query-columns {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

td#list-definition .buttons {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

td#list-definition .buttons [type="button"] {
  font-family: serif;
  cursor: pointer;
  display: block;
  background-color: var(--bg-primary);
  width: 1.75rem;
  height: 1.75rem;
  border: 1px solid var(--border-default);
  padding: 0.25rem;
  border-radius: var(--bd-radius-md);
}

td#list-definition .buttons [type="button"]:hover {
  border: 1px solid var(--border-dark);
}

td#list-definition .buttons [type="button"]:active {
  background-color: var(--bg-secondary);
}

// LGC5.0はfieldset#list-definitionという構造になっていたので特別対応
.plugin-lychee_gantt_chart fieldset#list-definition > div {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.25rem;
}

.plugin-lychee_gantt_chart fieldset#list-definition .query-columns {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.plugin-lychee_gantt_chart fieldset#list-definition .buttons {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.plugin-lychee_gantt_chart fieldset#list-definition .buttons [type="button"] {
  font-family: serif;
  cursor: pointer;
  display: block;
  background-color: var(--bg-primary);
  width: 1.75rem;
  height: 1.75rem;
  border: 1px solid var(--border-default);
  padding: 0.25rem;
  border-radius: var(--bd-radius-md);
}

.plugin-lychee_gantt_chart fieldset#list-definition .buttons [type="button"]:hover {
  border: 1px solid var(--border-dark);
}

.plugin-lychee_gantt_chart fieldset#list-definition .buttons [type="button"]:active {
  background-color: var(--bg-secondary);
}
/* 6.0 end */


// フィルター内部の細かい調整
label[for="draw_selected_columns"] {
  margin-bottom: 0.5rem;
}

// 管理→ロール→権限レポート
.controller-roles {
  #filters {
    margin-bottom: 0.5rem;
  }

  #filters form fieldset label + label {
    margin-left: 0.5rem;
  }
}

// LGC
.controller-lgc {
  fieldset#filters + fieldset legend.icon-collapsed,
  fieldset#filters + fieldset legend.icon-expanded {
    background-image: url(images/arrow_split_default.svg);
  }

  fieldset#filters + fieldset + fieldset legend.icon-collapsed,
  fieldset#filters + fieldset + fieldset legend.icon-expanded {
    background-image: url(images/preview_default.svg);
  }

  fieldset#filters + fieldset + fieldset + fieldset legend.icon-collapsed,
  fieldset#filters + fieldset + fieldset + fieldset legend.icon-expanded {
    background-image: url(images/sort_default.svg);
  }

  fieldset#filters ~ fieldset {
    margin-top: 0.5rem;
  }

  fieldset#filters ~ fieldset legend + div {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .lgc-sort-criteria:not(:first-child) {
    margin-top: 0.5rem;
  }

  .lgc-sort-criteria ~ label {
    display: inline-flex;
    align-items: center;
    margin-top: 0.5rem;
    gap: 0.25rem;
  }
}

.aw_lgcQueries {
// Note:lgcのカスタムクエリ作成画面は、bodyに`controller-lgc/queries`と指定されているためcssのみで指定できない。そのためthemeのjsで固有のclass`aw_lgcQueries`を指定している
  fieldset {
    margin-top: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: var(--bd-radius-md);
  }

  fieldset legend {
    font-size: var(--txt-xs);
    line-height: 1rem;
    font-weight: bold;
  }

  .lgc-queryForm-months {
    width: 3.5rem;
  }
}

// Kanbanのカスタムクエリ
.controller-kanban_queries {
  fieldset#options,
  fieldset#filters,
  fieldset#lychee_issue_board_sorting_form,
  fieldset#columns {
    margin-top: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: var(--bd-radius-md);
  }

  fieldset#options legend,
  fieldset#filters legend,
  fieldset#lychee_issue_board_sorting_form legend,
  fieldset#columns legend {
    font-size: var(--txt-xs);
    line-height: 1rem;
    font-weight: bold;
  }
}

// EVM
.controller-project_evms {
  #levm_query_form fieldset {
    font-size: var(--txt-xs);
    line-height: 1rem;
  }

  #levm_query_form > fieldset + fieldset {
    margin-top: 0.5rem;
  }

  #levm_query_form fieldset fieldset,
  #levm-unit,
  #levm-y-axis-unit,
  #levm-eac_method,
  #levm-value_unit,
  #levm-show_title {
    padding-top: 0.5rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    padding-bottom: 0.75rem;
    border-radius: var(--bd-radius-md);
  }

  #levm_query_form fieldset legend {
    background-position: left center;
    color: var(--txt-caption);
    font-size: var(--txt-xs);
    line-height: 1rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }

  #levm_query_form #levm-unit legend,
  #levm_query_form #levm-y-axis-unit legend,
  #levm_query_form #levm-eac_method legend,
  #levm_query_form #levm-value_unit legend,
  #levm_query_form #levm-show_title legend {
    margin-bottom: 0;
  }

  #levm_query_form fieldset + fieldset {
    margin-top: 0.5rem;
  }

  #levm_query_form fieldset legend + div {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  #levm_query_form fieldset legend.icon-expanded + div {
    margin-bottom: 0.5rem;
  }

  .condition ~ .condition {
    margin-top: 0.5rem;
  }

  .select2-container-multi .select2-choices {
    border-color: var(--border-default);
    border-radius: var(--bd-radius-md);
  }

  #s2id_evm_targets {
    margin-bottom: 0.5rem;
  }

  #latter-date {
    margin-left: 0.5rem;
  }

  #levm-unit,
  #levm-y-axis-unit,
  #levm-eac_method,
  #levm-value_unit,
  #levm-show_title {
    margin-right: 0.25rem;
  }

  #levm-unit,
  #levm-y-axis-unit,
  #levm-eac_method,
  #levm-value_unit,
  #levm-show_title {
    label {
      display: inline-flex;
      align-items: center;
      gap: 0.25rem;
    }

    label + label {
      margin-left: 0.5rem;
    }
  }

  // カスタムクエリ（EVMでカスタムクエリを作成すると、タイプ・対象UIの外にカスタムクエリ用のUIが追加されるので、専用の対応が必要）
  #levm_queries {
    margin-bottom: 0.5rem;
  }

  #levm_queries legend {
    font-size: var(--txt-xs);
    line-height: 1rem;
    font-weight: bold;
  }

  #levm_queries legend.icon {
    background-position: left center;
    color: var(--txt-caption);
    margin-bottom: 0.5rem;
  }

  #levm_queries legend + div {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  #levm_queries legend.icon-expended + div {
    margin-bottom: 0.5rem;
  }

  #levm_queries .icon-edit {
    margin-left: 0.5rem;
    margin-right: 0.25rem;
  }
}

// EVMのカスタムクエリ
.controller-levm_queries {
  fieldset#field_type,
  fieldset#field_condition {
    margin-top: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: var(--bd-radius-md);
  }

  fieldset#field_type legend,
  fieldset#field_condition legend {
    font-size: var(--txt-xs);
    line-height: 1rem;
    font-weight: bold;
  }

  fieldset#field_condition #levm-target,
  fieldset#field_condition #levm-milestones {
    margin-bottom: 0.5rem;
  }
}

// LRM
.controller-resource_management {
  h2 + fieldset {
    clear: both;
  }

  h2 + fieldset,
  fieldset#filters + fieldset {
    font-size: var(--txt-xs);
    line-height: 1rem;
  }

  fieldset#filters, fieldset#filters + fieldset {
    margin-top: 0.5rem;
  }

  h2 + fieldset legend,
  fieldset#filters + fieldset legend {
    color: var(--txt-caption);
    font-size: var(--txt-xs);
    line-height: 1rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }

  h2 + fieldset legend.icon,
  fieldset#filters + fieldset legend.icon {
    background-position: left center;
    background-size: 12px 12px;
  }

  h2 + fieldset legend.icon {
    background-image: url(images/filter_alt_default.svg);
  }

  fieldset#filters + fieldset legend.icon {
    background-image: url(images/sort_default.svg);
  }

  h2 + fieldset legend + div,
  fieldset#filters + fieldset legend + div {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.25rem;
    padding-bottom: 0.5rem;
  }

  #saved-queries {
    background-color: var(--bg-secondary);
    margin-top: 0.5rem;
    padding: 0.25rem;
    border-radius: var(--bd-radius-md);
  }

  #saved-queries {
    caption {
      padding-top: 0.25rem;
      padding-bottom: 0.25rem;
      padding-left: 0.25rem;
      padding-right: 0.25rem;
    }

    .list th, .list td {
      font-size: var(--txt-xs);
      line-height: 1rem;
      padding-top: 0.25rem;
      padding-bottom: 0.25rem;
    }

    .list .buttons {
      text-align: right;
    }

    .list .buttons a {
      width: 22px;
      height: 22px;
    }
  }

  .search-condition-left-area,
  .search-condition-apply-button-area {
    display: block;
  }

  .search-condition-apply-button-area {
    margin-top: 0.5rem;
  }

  .search-condition-left-area {
    label[for="period"],
    .apply-buttons-time-series label {
      font-weight: bold;
      margin-right: 0.5rem;
    }

    .apply-buttons-time-series {
      margin-top: 0.5rem;
    }

    .checkbox-include-indirect-works {
      display: flex;
      align-items: center;
      gap: 0.25rem;
      margin-top: 0.5rem;
    }
  }
}

// LRM カスタムクエリ作成画面でのfilter
.controller-lrm_queries {
  fieldset#filters {
    margin-top: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: var(--bd-radius-md);
  }
}

// LPR共通レポート
.controller-project_report_overview {
  fieldset legend {
    background-position: left center;
    background-size: 12px 12px;
    color: var(--txt-caption);
    font-size: var(--txt-xs);
    line-height: 1rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }

  fieldset legend.icon {
    background-image: url(images/filter_alt_default.svg);
  }

  #query_form_content fieldset:nth-child(2) legend.icon {
    background-image: url(images/sort_default.svg);
  }

  fieldset legend + div {
    padding-top: 0.25rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  fieldset legend + div {
    select {
      font-size: var(--txt-xs);
      line-height: 1rem;
      margin-top: 0;
      margin-bottom: 0;
      padding-top: 0.25rem;
      padding-bottom: 0.25rem;
      padding-right: 1.5rem;
      padding-left: 0.5rem;
    }

    select[multiple] {
      padding-left: 0.25rem;
      padding-right: 0.25rem;
    }

    input:not([type="checkbox"], [type="radio"], [type="submit"]) {
      font-size: var(--txt-xs);
      line-height: 1rem;
      margin-top: 0px;
      margin-bottom: 0px;
      padding-top: 0.25rem;
      padding-bottom: 0.25rem;
      padding-left: 0.5rem;
      padding-right: 0.5rem;
    }
  }

  #filters-table .field {
    width: 200px;
    min-width: 200px;
    font-size: var(--txt-xs);
    line-height: 1rem;
    vertical-align: middle;
  }

  #filters-table .operator {
    width: 130px;
    min-width: 130px;
  }

  #filters-table td.operator select {
    max-width: none;
    width: 100%;
  }

  #filters-table td.values {
    width: calc(100% - 330px);
    padding-left: 0.5rem;
  }

  #filters-table td.values select {
    min-width: 130px;
  }

  .add-filter label {
    width: 200px;
  }

  #query_form_content table {
    margin-bottom: 0.5rem;
  }

  .query-columns {
    display: table;
  }

  .query-columns tr {
    display: flex;
    align-items: stretch;
  }

  .query-columns label[for="available_columns"] + br,
  .query-columns label[for="selected_columns"] + br {
    display: none;
  }

  .query-columns td {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .query-columns td.buttons {
    justify-content: center;
  }

  .query-columns .buttons br {
    display: none;
  }
}

// LPR カスタムクエリ作成画面でのfilter
.controller-project_report_queries {
  #project_report_query_form {
    clear: both;
  }

  fieldset {
    margin-top: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: var(--bd-radius-md);
  }

  fieldset + fieldset,
  fieldset#filters,
  fieldset#options {
    margin-top: 1.5rem;
  }

  #filters-table.project_over_view .field {
    width: 180px;
    min-width: 180px;
    font-size: var(--txt-xs);
    line-height: 1rem;
    vertical-align: middle;
  }

  #filters-table.project_over_view .operator {
    width: 130px;
    min-width: 130px;
  }

  #filters-table.project_over_view td.operator select {
    max-width: none;
    width: 100%;
  }

  #filters-table.project_over_view td.values {
    width: calc(100% - 310px);
    padding-left: 0.5rem;
  }

  #filters-table.project_over_view td.values select {
    width: auto;
    min-width: 130px;
  }

  .add-filter label {
    width: 180px;
  }

  fieldset legend {
    font-size: var(--txt-xs);
    line-height: 1rem;
    font-weight: bold;
  }

  .query-columns {
    display: table;
  }

  .query-columns tr {
    display: flex;
    align-items: stretch;
  }

  .query-columns label[for="available_columns"] + br,
  .query-columns label[for="selected_columns"] + br {
    display: none;
  }

  .query-columns td {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .query-columns td.buttons {
    justify-content: center;
  }

  .query-columns .buttons br {
    display: none;
  }

  fieldset#options p + p {
    margin-top: 0.5rem;
  }
}

// Time Management
.controller-time_management {
  #queries,
  #filters {
    font-size: var(--txt-xs);
    line-height: 1rem;
    margin-top: 0.5rem;
  }

  #queries legend,
  #filters legend {
    color: var(--txt-caption);
    font-size: var(--txt-xs);
    line-height: 1rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }

  #queries legend {
    padding-left: 0;
  }

  #filters legend.icon {
    background-image: url(images/filter_alt_default.svg);
    background-position: left center;
    background-size: 12px 12px;
  }

  #queries legend + select {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
  }

  #filters legend + div {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  #queries, #filters {
    select {
      font-size: var(--txt-xs);
      line-height: 1rem;
      margin-top: 0;
      margin-bottom: 0;
      padding-top: 0.25rem;
      padding-bottom: 0.25rem;
      padding-right: 1.5rem;
      padding-left: 0.5rem;
    }

    select[multiple] {
      padding-left: 0.25rem;
      padding-right: 0.25rem;
    }

    input:not([type="checkbox"], [type="radio"], [type="submit"]) {
      font-size: var(--txt-xs);
      line-height: 1rem;
      padding-top: 0.25rem;
      padding-bottom: 0.25rem;
      padding-left: 0.5rem;
      padding-right: 0.5rem;
      margin-top: 0px;
      margin-bottom: 0px;
    }
  }

  #filters-table .field {
    width: 200px;
    min-width: 200px;
    font-size: var(--txt-xs);
    line-height: 1rem;
    vertical-align: middle;
    padding-bottom: 0.125rem;
  }

  #filters-table .field input[type="checkbox"] {
    margin-right: 0.25rem
  }

  #filters-table .operator {
    width: 130px;
    min-width: 130px;
    padding-bottom: 0.125rem
  }

  #filters-table td.operator select {
    max-width: none;
    width: 100%;
  }

  #filters-table td.values {
    width: calc(100% - 330px);
    padding-bottom: 0.125rem;
    padding-left: 0.5rem;
  }

  #filters-table td.values select {
    min-width: 130px;
  }

  #filters-table td.values select + span {
    display: inline-block;
  }

  .add-filter {
    margin-bottom: 0;
  }

  .add-filter label {
    width: 200px;
    margin-right: 0.125rem;
  }

  #filters + .buttons {
    margin-top: 0.125rem
  }
}

// Cost(buttons.scssも参照)
.controller-lychee_cost_expenses {
  #lychee_cost_expenses {
    #month, #x_months {
      font-size: var(--txt-xs);
      line-height: 1rem;
      margin-top: 0;
      margin-bottom: 0;
      padding-top: 0.25rem;
      padding-bottom: 0.25rem;
      padding-left: 0.5rem;
      padding-right: 0.5rem;
    }
  }
}

// カスタムクエリの作成
.controller-queries {
  #options,
  #filters,
  #sort,
  #columns {
    margin-top: 1rem;
    padding-top: 0.5rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    padding-bottom: 0.75rem;
    border-radius: var(--bd-radius-md);
  }

  #options legend,
  #filters legend,
  #sort legend,
  #columns legend {
    font-size: var(--txt-xs);
    line-height: 1rem;
    font-weight: bold;
  }

  #sort br {
    content: "";
    display: block;
    height: 0.5rem;
  }
}

// 管理→設定→フィルタ(buttons.scssも参照)
.controller-admin {
  h2 + form {
    clear: both;
  }

  h2 + form fieldset {
    padding-top: 0.5rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    padding-bottom: 0.75rem;
    border-radius: var(--bd-radius-md);
  }

  h2 + form fieldset legend {
    color: var(--txt-caption);
    font-size: var(--txt-xs);
    line-height: 1rem;
    font-weight: bold;
  }

  fieldset #status {
    margin-right: 0.5rem;
  }
}

// 管理→設定→ユーザー(buttons.scssも参照)
.controller-users {
  #users_form {
    clear: both;
  }

  #users_form fieldset {
    padding-top: 0.5rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    padding-bottom: 0.75rem;
    border-radius: var(--bd-radius-md);
  }

  #users_form fieldset legend {
    color: var(--txt-caption);
    font-size: var(--txt-xs);
    line-height: 1rem;
    font-weight: bold;
  }

  fieldset #status,
  fieldset #group_id,
  fieldset #twofa {
    margin-right: 0.5rem;
  }
}

// 管理→設定→グループ(buttons.scssも参照)
.controller-groups {
  h2 + form {
    clear: both;
  }

  h2 + form fieldset {
    padding-top: 0.5rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    padding-bottom: 0.75rem;
    border-radius: var(--bd-radius-md);
  }

  h2 + form fieldset legend {
    color: var(--txt-caption);
    font-size: var(--txt-xs);
    line-height: 1rem;
    font-weight: bold;
  }
}

// プロジェクト設定→バージョンのフィルタ
.controller-projects {
  #tab-content-versions {
    form {
      clear: both;
    }

    form fieldset {
      padding-top: 0.5rem;
      padding-left: 0.75rem;
      padding-right: 0.75rem;
      padding-bottom: 0.75rem;
      border-radius: var(--bd-radius-md);
    }

    form fieldset legend {
      color: var(--txt-caption);
      font-size: var(--txt-xs);
      line-height: 1rem;
      font-weight: bold;
    }
  }
}

// プロジェクト設定→リポジトリ
.controller-repositories.action-banned_committers {
  fieldset {
    padding-top: 0.5rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    padding-bottom: 0.75rem;
    border-radius: var(--bd-radius-md);
  }

  fieldset legend {
    color: var(--txt-caption);
    font-size: var(--txt-xs);
    line-height: 1rem;
    font-weight: bold;
  }
}

// Association Chart(チケット関連図)
.controller-association_chart {
  fieldset#filters legend {
    background-image: url(images/filter_alt_default.svg);
    background-position: left center;
    background-size: 12px 12px;
    background-repeat: no-repeat;
    color: var(--txt-caption);
    margin-bottom: 0.5rem;
  }
}

@media screen and (max-width: 899px) {
  #filters-table {
    thead, tbody, th, td {
      display: block;
    }
  }

  #filters-table {
    display: flex;
    flex-direction: column;
  }

  #filters-table .filter {
    display: flex;
    flex-wrap: wrap;
  }

  #filters-table .filter:not(:first-child) {
    margin-top: 0.5rem;
  }

  #rilters-table .field,
  fieldset#filters #filters-table .field,
  .controller-project_report_overview #filters-table .field {
    width: 100%;
  }

  #filters-table .values,
  fieldset#filters #filters-table .values {
    flex-grow: 1;
  }

  .add-filter {
    flex-wrap: wrap;
  }

  .add-filter label {
    width: 100%;
    text-align: left;
  }

  .query-columns {
    flex-wrap: wrap;
  }

  /* 6.x start */
  div#filters-table + .add-filter label {
    // 6.0だと数pxずれるので位置調整のためにサイズを上書き指定
    width: 100%;
  }

  div#list-definition > div {
    flex-wrap: wrap;
  }

  div#list-definition > div:not(:first-child) {
    margin-top: 1rem;
  }

  div#list-definition .field {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
  /* 6.0 end */
}
}
