@layer components {
  #header {
    transition-property: padding-left;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
    @apply flex items-center bg-background-secondary text-text-default py-2 px-4
  }

  #header.aw_hasMainMenu {
    @apply pl-[14rem]
  }

  #header.isMainMenuClose,
  #header.aw_hasMainMenu.isMainMenuClose {
    transition-property: padding-left;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
    @apply pl-11
  }

  #header h1 {
    @apply overflow-hidden text-ellipsis whitespace-nowrap mb-0
  }

  #header h1 .breadcrumbs {
    @apply block text-[11px]
  }

  #header a {
    @apply text-text-default
  }

  // Quick Search
  #quick-search {
    @apply order-2 flex items-center ml-auto
  }

  #quick-search form {
    @apply mr-2
  }

  #quick-search form label {
    @apply text-text-default
  }

  #quick-search form label a {
    @apply text-text-default
  }

  #quick-search form input {
    @apply my-0
  }

  #quick-search #q {
    @apply w-[200px]
  }
}