.icon-add {
  background-image: url(images/add_circle_default.svg);
}

.icon-edit {
  background-image: url(images/edit_default.svg);
}

.icon-edit.icon-only {
  background-image: url(images/edit_dark.svg);
}

.icon-copy {
  background-image: url(images/content_copy_default.svg);
}

.icon-duplicate {
  background-image: url(images/library_add_default.svg);
}

.icon-del {
  background-image: url(images/delete_danger.svg);
}

.icon-move {
  background-image: url(images/redo_default.svg);
}

.icon-save {
  background-image: url(images/save_default.svg);
}

.icon-download {
  background-image: url(images/download_default.svg);
}

.icon-download.icon-only {
  background-image: url(images/download_dark.svg);
}

.icon-cancel {
  background-image: url(images/cancel_presentation_default.svg);
}

.icon-folder {
  background-image: url(images/folder_default.svg);
}

.icon-folder.open {
  background-image: url(images/folder_open_default.svg);
}

.icon-package {
  background-image: url(images/deployed_code_default.svg);
}

.icon-user {
  background-image: url(images/person_default.svg);
}

.icon-user.my-project {
  background-image: url(images/person_dark.svg);
}

.icon-project {
  background-image: url(images/widgets_default.svg);
}

.icon-projects {
  background-image: url(images/widgets_default.svg);
}

.icon-help {
  background-image: url(images/help_default.svg);
}

.icon-attachment {
  background-image: url(images/attach_file_default.svg);
}

.icon-history {
  background-image: url(images/history_default.svg);
}

.icon-time-entry {
  background-image: url(images/schedule_default.svg);
}

.icon-time {
  background-image: url(images/schedule_default.svg);
}

.icon-time-add {
  background-image: url(images/alarm_add_default.svg);
}

.icon-stats {
  background-image: url(images/leaderboard_default.svg);
}

.icon-warning {
  background-image: url(images/warning_warning.svg);
}

.icon-error {
  background-image: url(images/error_danger.svg);
}

.icon-fav {
  background-image: url(images/star_fill_watching.svg);
}

.icon-fav {
  background-image: url(images/star_fill_watching.svg);
}

.icon-fav-off {
  background-image: url(images/star_outline_default.svg);
}

.icon-reload {
  background-image: url(images/refresh_default.svg);
}

.icon-lock {
  background-image: url(images/lock_default.svg);
}

.icon-locked {
  background-image: url(images/lock_default.svg);
}

.icon-unlock {
  background-image: url(images/lock_open_default.svg);
}

.icon-checked {
  background-image: url(images/done_success.svg);
}

.icon-report {
  background-image: url(images/description_default.svg);
}

.icon-comment {
  background-image: url(images/chat_bubble_default.svg);
}

.icon-comment.icon-only {
  background-image: url(images/chat_bubble_dark.svg);
}

.icon-comments {
  background-image: url(images/chat_bubble_default.svg);
}

.icon-summary {
  background-image: url(images/flash_on_default.svg);
}

.icon-server-authentication {
  background-image: url(images/key_default.svg);
}

.icon-issue {
  background-image: url(images/ticket_default.svg);
}

.icon-zoom-in {
  background-image: url(images/zoom_in_default.svg);
}

.icon-zoom-out {
  background-image: url(images/zoom_out_default.svg);
}

.icon-magnifier {
  background-image: url(images/search_default.svg);
}

.icon-passwd {
  background-image: url(images/lock_default.svg);
}

.icon-arrow-right {
  background-image: url(images/arrow_right_default.svg);
}

.icon-test {
  background-image: url(images/arrow_right_default.svg);
}

.icon-sticky {
  background-image: url(images/arrow_right_default.svg);
}

.icon-email {
  background-image: url(images/mail_default.svg);
}

.icon-email-disabled {
  background-image: url(images/mail_disabled_default.svg);
}

.icon-email-add {
  background-image: url(images/mail_add_default.svg);
}

.icon-ok {
  background-image: url(images/done_success.svg);
}

.icon-not-ok {
  background-image: url(images/close_danger.svg);
}

.icon-link-break {
  background-image: url(images/link_off_default.svg);
}

.icon-link-break.icon-only {
  background-image: url(images/link_off_dark.svg);
}

.icon-list {
  background-image: url(images/format_list_bulleted_default.svg);
}

.icon-close {
  background-image: url(images/close_dark.svg);
}

.icon-settings {
  background-image: url(images/settings_default.svg);
}

.icon-settings.icon-only {
  background-image: url(images/settings_dark.svg);
}

.icon-group {
  background-image: url(images/groups_3_default.svg);
}

.icon-groupnonmember {
  background-image: url(images/groups_3_default.svg);
}

.icon-groupanonymous {
  background-image: url(images/groups_3_default.svg);
}

.icon-roles {
  background-image: url(images/encrypted_default.svg);
}

.icon-issue-edit {
  background-image: url(images/ticket_edit_default.svg);
}

.icon-workflows {
  background-image: url(images/flowsheet_default.svg);
}

.icon-custom-fields {
  background-image: url(images/design_services_default.svg);
}

.icon-plugins {
  background-image: url(images/extension_default.svg);
}

.icon-issue-closed {
  background-image: url(images/done_success.svg);
}

.icon-issue-note {
  background-image: url(images/summarize_default.svg);
}

.icon-changeset {
  background-image: url(images/settings_default.svg);
}

.icon-message {
  background-image: url(images/chat_bubble_default.svg);
}

.icon-reply {
  background-image: url(images/forum_default.svg);
}

.icon-actions {
  background-image: url(images/more_dark.svg);
}

.icon-sorted-asc {
  background-image: url(images/expand_more_default.svg);
}

.icon-expanded {
  background-image: url(images/expand_more_default.svg);
}

.icon-collapsed {
  background-image: url(images/chevron_right_default.svg);
}

.icon-wiki-page {
  background-image: url(images/article_default.svg);
}

.icon-document {
  background-image: url(images/article_default.svg);
}

.icon-news {
  background-image: url(images/article_default.svg);
}

.icon-add-bullet {
  background-image: url(images/add_circle_default.svg);
}

.icon-shared {
  background-image: url(images/link_default.svg);
}

.icon-sort-handle {
  background-image: url(images/drag_pan_default.svg);
}

.icon-sort-handle.icon-only {
  background-image: url(images/drag_pan_dark.svg);
}

.icon-bookmark {
  background-image: url(images/bookmark_fill_bookmarked.svg);
}

.icon-bookmark-off {
  background-image: url(images/bookmark_outliine_default.svg);
}

.icon-bookmarked-project {
  background-image: url(images/bookmark_fill_bookmarked.svg);
}

.icon-sorted-desc {
  background-image: url(images/expand_less_default.svg);
}

.icon-toggle-plus {
  background-image: url(images/unfold_more_default.svg);
}

.icon-toggle-minus {
  background-image: url(images/unfold_less_default.svg);
}

.icon-clear-query {
  background-image: url(images/cancel_presentation_danger.svg);
}

.icon-import {
  background-image: url(images/input_default.svg);
}

.icon-file {
  background-image: url(images/description_default.svg);
}

.icon-file.text-plain {
  background-image: url(images/description_default.svg);
}

.icon-file.application-zip {
  background-image: url(images/folder_zip_default.svg);
}

.icon-file.application-gzip {
  background-image: url(images/folder_zip_default.svg);
}

.icon-copy-link {
  background-image: url(images/content_copy_default.svg);
}

.sort-handle.ajax-loading {
  background-image: url(images/spinner_default.gif);
  background-size: 16px;
}

button.tab-left {
  background-image: url(images/chevron_left_dark.svg);
}

button.tab-right {
  background-image: url(images/chevron_right_dark.svg);
}

/*
* Plugins
*/
.theme-Lychee {
  .icon-lychee-cost-cash-forecast {
    background-image: url(images/account_balance_default.svg);
  }
}