div.issue {
  background-color: var(--status-warning-light);
  border-color: var(--status-warning-light);
  color: var(--txt-default);
  margin-bottom: 0.25rem;
  padding: 0.5rem;
  border-radius: var(--bd-radius-md);
}