.journal {
  background-color: var(--bg-primary);
  border: 1px solid var(--border-divider);
  padding: 1.5rem;
  border-radius: var(--bd-radius-md);
}

.journal + .journal {
  margin-top: 1rem;
}

.journal .note-header {
  display: flex;
  align-items: center;
  margin-left: 1.5rem;
}

.time_entry .contextual + h4:not(.note-header) {
  display: flex;
  align-items: center;
  margin-left: 1.5rem;
}

.journal .note-header .gravatar {
  margin-right: 0.25rem;
}

div.journal ul.details {
  list-style-type: disc;
  background-color: var(--bg-secondary);
  color: var(--txt-default);
  font-size: var(--txt-md);
  line-height: 1.25rem;
  margin-top: 1rem;
  margin-left: 1.25rem;
  margin-bottom: 0;
  padding: 8px;
  padding-left: 28px;
  border-radius: var(--bd-radius-md);
}

.journals .journal-content {
  padding-left: 1rem;
}

ul.revision-info {
  list-style-type: disc;
  background-color: var(--bg-secondary);
  color: var(--txt-default);
  font-size: var(--txt-md);
  line-height: 1.25rem;
  margin-top: 1rem;
  margin-left: 1.25rem;
  padding: 0.5rem;
  margin-bottom: 0px;
  padding-left: 1.75rem;
  border-radius: var(--bd-radius-md);
}

div.journal ul.details li:not(:first-child),
ul.revision-info li:not(:first-child) {
  margin-top: 0.25rem /* 4px */;
}

.contextual .journal-actions {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.journal-actions .icon-only,
.journal-actions .drdn {
  margin: 0;
}

.journal .wiki {
  clear: both;
  margin-top: 0.5rem;
}

.journal .details + .wiki {
  margin-top: 1rem;
}

.journal .wiki img {
  border: 2px solid var(--border-divider);
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.journal .jstEditor textarea {
  margin-bottom: 0.5rem /* 8px */;
}

/*** After 6.1: Journalの構造変更 ***/
.journals .journal-details {
  list-style-type: disc;
  background-color: var(--bg-secondary);
  color: var(--txt-default);
  font-size: var(--txt-md);
  line-height: 1.25rem;
  margin-top: 1rem;
  margin-bottom: 0;
  padding: 8px;
  padding-left: 28px;
  border-radius: var(--bd-radius-md);
}

.journal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.journal-actions {
  display: flex;
  align-items: center;
  gap: 8px;
}

.journal-meta {
  display: flex;
  align-items: center;
  gap: 8px;
}

/* ニュースのコメント */
// 6.0以前のコメントUIの影響を打ち消す
.controller-news.action-show #comments .journal h4 {
  border-top: none;
  padding-top: 0;
}

.controller-news.action-show #comments .journal .wiki:last-of-type {
  border-bottom: none;
}