@layer components {
  .journal {
    @apply bg-background-primary border border-border-divider p-6 rounded-md
  }

  .journal + .journal {
    @apply mt-4
  }

  .journal .note-header {
    @apply flex items-center ml-6
  }

  .time_entry .contextual + h4:not(.note-header) {
    @apply flex items-center ml-6
  }

  .journal .note-header .gravatar {
    @apply mr-1
  }

  div.journal ul.details {
    @apply list-disc bg-background-secondary text-text-default text-sm mt-4 ml-5 mb-0 p-2 pl-7 rounded-md
  }

  ul.revision-info {
    @apply list-disc bg-background-secondary text-text-default text-sm mt-4 ml-5 p-2 mb-0 pl-7 rounded-md
  }

  div.journal ul.details li:not(:first-child),
  ul.revision-info li:not(:first-child) {
    @apply mt-1
  }

  .contextual .journal-actions {
    @apply flex items-center flex-wrap gap-2
  }

  .journal-actions .icon-only,
  .journal-actions .drdn {
    @apply m-0
  }

  .journal .wiki {
    @apply clear-both mt-2
  }

  .journal .details + .wiki {
    @apply mt-4
  }

  .journal .wiki img {
    @apply border-2 border-border-divider my-2
  }

  body.avatars-off .journal .wiki {
    @apply pl-4
  }

  .journal .jstEditor textarea {
    @apply mb-2
  }

  /*** After 6.1: Journalの構造変更 ***/
  .journal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .journal-actions {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .journal-meta {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  /* チケット詳細 */
  // 6.0以前のレイアウト調整用cssの影響打ち消し（プロフィールアイコン設定時）
  div.journal .journal-header img.gravatar {
    margin-left: 0;
  }

  // 6.0以前のレイアウト調整用cssの影響打ち消し（プロフィール画像未設定時）
  body.avatars-off div.journal .journal-header span.gravatar {
    margin-left: 0;
  }


  /* ニュースのコメント */
  // 6.0以前のコメントUIの影響を打ち消す
  .controller-news.action-show #comments .journal h4 {
    border-top: none;
    padding-top: 0;
  }

  .controller-news.action-show #comments .journal .wiki:last-of-type {
    border-bottom: none;
  }
}