// tabularのlabelはtabular側で管理
// label.block,
// .tabular label.block,
#notified_events label,
#message_box_notified_events label {
  display: flex;
  align-items: center;
}

label.block ~ label.block {
  margin-top: 0.5rem;
}

label.inline {
  width: auto;
  color: var(--txt-default);
  font-size: var(--txt-md);
  line-height: 1.25rem;
  text-align: left;
  margin-right: 1rem;
  margin-bottom: 0;
  margin-left: 0 !important;
}

.tabular label.inline {
  width: auto;
}

label.floating {
  display: inline-block;
  color: var(--txt-default);
  font-size: var(--txt-md);
  line-height: 1.25rem;
  text-align: left;
  margin-top: 0.5rem;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  padding-right: 1rem;
}

#notified_events label,
#message_box_notified_events label {
  margin-bottom: 0.5rem;
}

label.floating input,
label.inline input,
#notified_events label input {
  margin-right: 0.25rem;
}

.tabular label.inline input[type="checkbox"] {
  margin-top: 0;
}

.query-columns + p .inline:first-of-type {
  background-color: #f00;
}

.query-columns + p .inline:first-of-type {
  margin-left: 16px !important;
}