@layer components {
  #main-menu {
    @apply relative w-full bg-background-primary py-1 px-2
  }

  /* MainMenuのスタイル */
  #main-menu ul:not(.menu-children) {
    @apply relative flex w-full whitespace-nowrap m-0
  }

  #main-menu li a {
    @apply block whitespace-normal break-words text-text-default text-xs no-underline px-3 py-2.5 rounded
  }

  #main-menu > ul > li ~ li {
    @apply ml-1
  }

  #main-menu > ul > li > a {
    @apply cursor-pointer relative overflow-hidden whitespace-nowrap text-ellipsis content-center min-h-[32px] text-text-default py-1.5 px-3 rounded-md
  }

  #main-menu > ul > li > a:hover {
    @apply bg-background-tertiary
  }

  #main-menu > ul > li > a.selected {
    @apply bg-background-tertiary
  }

  /* main-menu > new-object */
  #main-menu ul li:has(.new-object) {
    @apply sticky left-0 flex items-center z-[699]
  }

  #main-menu .menu-children {
    @apply hidden fixed w-auto bg-background-primary border border-border-default p-1 rounded-md shadow-lg
  }

  #main-menu li:hover ul.menu-children,
  #main-menu li ul.menu-children.visible {
    @apply block w-[11rem] z-[699]
  }

  #main-menu .menu-children a:hover {
    @apply bg-background-secondary
  }

  /* MainMenuのスクロールバー調整 */
  // 横スクロールが発生するとき
  #main-menu {
    @apply overflow-x-scroll py-1
  }

  #main-menu.active,
  #main-menu.active * {
    @apply cursor-grabbing
  }

  #main-menu::-webkit-scrollbar {
    @apply h-[4px]
  }

  #main-menu::-webkit-scrollbar-thumb {
    @apply cursor-grab bg-background-dark/20 rounded
  }

  #main-menu:hover::-webkit-scrollbar-thumb {
    @apply bg-background-dark/50
  }

  #main-menu::-webkit-scrollbar-thumb:active {
    @apply cursor-grabbing
  }

  #main-menu::-webkit-scrollbar-corner {
    @apply hidden
  }

  // 横スクロールが発生しないとき
  #main-menu ul.noScroll {
    @apply overflow-x-visible
  }

  #main-menu ul.noScroll::-webkit-scrollbar {
    @apply h-0
  }


  /* Lycheeアイコンの差し替え */
  #main-menu .lychee-icon.lychee-icon:before,
  #main-menu .lychee-icon.lychee-icon.selected:before,
  .flyout-menu .lychee-icon.lychee-icon:before,
  .flyout-menu .lychee-icon.lychee-icon.selected:before {
    content: '';
    width: 13px;
    height: 13px;
    background-image: url(images/lychee_default.svg);
    background-size: cover;
    background-position: center 1px;
    background-repeat: no-repeat;
  }
}