span.pagination {
  display: flex;
  align-items: center;
  color: var(--txt-caption);
}

.next-prev-links span.pagination {
  margin-top: 0;
}

.pagination ul.pages {
  display: flex;
  margin: 0;
}

.pagination ul.pages li {
  display: flex;
  align-items: center;
  justify-content: center;
  border-style: none;
  font-size: var(--txt-xs);
  line-height: 1rem;
  margin-bottom: 0;
  border-radius: var(--bd-radius-md);
}

.pagination ul.pages li:last-child {
  border-radius: var(--bd-radius-md);
}

.pagination ul.pages li:not(:first-child) {
  margin-left: 0.25rem;
}

.pagination ul.pages li.current {
  background-color: var(--product-default);
  color: var(--txt-onFill);
}

.pagination ul.pages li a,
.pagination ul.pages li span {
  padding: 0.5rem 0.75rem;
}

.pagination .pages + span {
  color: var(--txt-caption);
  font-size: var(--txt-xs);
  line-height: 1rem;
  margin-left: 0.5rem;
}