@layer components {
  // sidebar
  #sidebar {
    @apply relative flex-shrink-0 order-2 bg-background-secondary/50 border-l border-border-divider text-xs py-3
  }

  .controller-kanban #sidebar,
  .controller-backlog #sidebar,
  .controller-settings #sidebar {
    position: relative !important
  }

  #sidebar h3 {
    @apply text-text-default text-xs mt-4
  }

  #sidebar h4 {
    @apply text-xs
  }


  #sidebar div.wiki ul li {
    list-style-type: inherit;
  }

  #sidebar .contextual {
    @apply text-xs
  }

  #sidebar span.icon-warning {
    @apply ml-1
  }

  #main.nosidebar #sidebar {
    @apply hidden
  }

  #sidebar .query.default {
    @apply font-bold
  }

  #sidebar #watchers {
    @apply mt-4
  }

  #sidebar hr {
    width: 100%;
    margin: 0 auto;
    height: 1px;
    background: #000;
    border: 0;
  }

  #sidebar .contextual {
    @apply mr-4
  }

  #sidebar ul,
  ul.flat {
    @apply m-0
  }

  #sidebar div.wiki ul {
    margin: inherit;
    padding-left: 40px;
  }

  #sidebar ul li {
    @apply list-none flex items-center m-0 p-0
  }

  #sidebar ul li:has(.icon-clear-query) {
    @apply gap-1
  }

  ul.flat li {
    list-style-type: none;
    margin: 0px 2px 0px 0px;
    padding: 0px 0px 0px 0px;
  }

  #sidebar ul li:not(:first-child) {
    @apply mt-1.5
  }

  #sidebar ul li a {
    @apply block grow text-xs m-0 px-1 py-0.5 rounded
  }

  #sidebar ul li a:hover {
    @apply bg-background-secondary
  }

  #sidebar a.selected {
    @apply bg-background-tertiary text-text-default
  }

  #sidebar a.icon-only {
    @apply flex grow-0 shrink-0 overflow-hidden indent-[100%] whitespace-nowrap w-[26px] h-5 bg-no-repeat bg-center bg-[length:16px_16px]
  }

  #sidebar p {
    @apply my-4
  }

  // 個人設定→リマインダ設定欄
  .controller-my {
    #sidebar fieldset.box p {
      @apply my-0
    }

    #sidebar fieldset.box p + input[type="submit"] {
      @apply mt-2
    }
  }

  // adminMenu
  #admin-index {
    @apply mt-4
  }

  #admin-index #admin-menu {
    @apply max-w-xs
  }

  #admin-menu ul {
    @apply p-0
  }

  #admin-menu ul li:not(:first-child) {
    @apply mt-1
  }

  #admin-menu ul li a {
    @apply block grow text-sm m-0 pr-2 py-1.5 pl-7 rounded
  }

  #admin-menu ul li a:hover {
    @apply bg-background-secondary
  }

  #admin-menu ul li a,
  #admin-menu ul li a.lychee-icon {
    @apply bg-[left_8px_center]
  }

  #admin-menu ul li a.selected {
    @apply bg-background-tertiary bg-[left_8px_center]
  }

  #admin-menu#admin-menu a.redmine-logs {
    background-image: url(images/overview_default.svg);
  }


  /* Support 6.0 start */
  #sidebar-switch-panel {
    @apply hidden
  }
  /* Support 6.0 end */


  /* sidebarのadmin-menuは、通常sidebarに合わせて文字サイズ等は小さくしたい */
  #sidebar #admin-menu ul li a {
    @apply text-xs
  }


  /* sidebar > admin-menu > チケットセットの選択時の色が、別のスタイルの影響を受けているため上書きする */
  .controller-lychee_issue_sets #sidebar #admin-menu ul li a.issue-set {
    @apply bg-background-tertiary
  }
}