@layer components {
  // sidebar
  #sidebar {
    @apply relative flex-shrink-0 order-2 bg-background-secondary/50 border-l border-border-divider py-3
  }

  .controller-kanban #sidebar,
  .controller-backlog #sidebar,
  .controller-settings #sidebar {
    position: relative !important
  }

  #sidebar h3 {
    @apply text-text-default text-sm mt-4
  }


  #sidebar div.wiki ul li {
    list-style-type: inherit;
  }

  #sidebar span.icon-warning {
    @apply ml-1
  }

  #main.nosidebar #sidebar {
    @apply hidden
  }

  #sidebar .query.default {
    @apply font-bold
  }

  #admin-menu a {
    @apply text-sm
  }

  #sidebar #watchers {
    @apply mt-4
  }

  #sidebar hr {
    width: 100%;
    margin: 0 auto;
    height: 1px;
    background: #000;
    border: 0;
  }
  
  * html #sidebar hr {
    width: 95%;
    position: relative;
    left: -6px;
    color: #ccc;
  }

  #sidebar .contextual {
    @apply mr-4
  }

  #sidebar ul,
  ul.flat {
    @apply m-0
  }

  #sidebar div.wiki ul {
    margin: inherit;
    padding-left: 40px;
  }

  #sidebar ul li {
    @apply list-none flex items-center m-0 p-0
  }

  ul.flat li {
    list-style-type: none;
    margin: 0px 2px 0px 0px;
    padding: 0px 0px 0px 0px;
  }

  #sidebar ul li:not(:first-child) {
    @apply mt-1
  }

  #sidebar ul li a {
    @apply block grow text-sm m-0 px-2 py-1.5 rounded
  }

  #sidebar ul li a:hover {
    @apply bg-background-secondary
  }

  #sidebar a.selected {
    @apply bg-background-tertiary text-text-default
  }

  #sidebar a.icon-only {
    @apply flex grow-0 overflow-hidden indent-[100%] whitespace-nowrap w-4 h-4 bg-no-repeat bg-[length:16px_16px] ml-1
  }

  #sidebar p {
    @apply my-4
  }

  // 個人設定→リマインダ設定欄
  .controller-my {
    #sidebar fieldset.box p {
      @apply my-0
    }

    #sidebar fieldset.box p + input[type="submit"] {
      @apply mt-2
    }
  }

  // adminMenu
  #admin-menu ul {
    @apply p-0
  }

  #admin-menu ul li:not(:first-child) {
    @apply mt-1
  }

  #admin-menu ul li a {
    @apply block grow text-sm m-0 pr-2 py-1.5 pl-7 rounded
  }

  #admin-menu ul li a:hover {
    @apply bg-background-secondary
  }

  #admin-menu ul li a,
  #admin-menu ul li a.lychee-icon {
    @apply bg-[left_8px_center]
  }

  #admin-menu ul li a.selected {
    @apply bg-background-tertiary bg-[left_8px_center]
  }

  #admin-menu#admin-menu a.redmine-logs {
    background-image: url(images/overview_default.svg);
  }
}