@layer components {
  table.list:not(.odd-even) tbody tr:nth-child(odd),
  .odd,
  #issue-changesets div.changeset:nth-child(odd) {
    @apply bg-background-primary
  }

  table.list:not(.odd-even) tbody tr:nth-child(even),
  .even,
  #issue-changesets div.changeset:nth-child(even) {
    @apply bg-background-secondary/50
  }

  table.list:not(.odd-even) tbody tr:nth-child(odd):hover,
  .odd:hover,
  #issue-changesets div.changeset:nth-child(odd):hover,
  table.list:not(.odd-even) tbody tr:nth-child(even):hover,
  .even:hover,
  #issue-changesets div.changeset:nth-child(even):hover {
    @apply bg-background-tertiary/50
  }

  table.list.issues tbody tr.closed th,
  table.list.issues tbody tr.closed td {
    @apply bg-background-secondary/50 opacity-70
  }

  table.list,
  .table-list {
    @apply bg-background-primary border-border-divider m-0 rounded-none
  }

  table.list th {
    @apply bg-background-secondary border-y border-border-divider text-text-default text-sm p-1.5
  }

  .table-list-header {
    @apply bg-background-secondary text-text-default text-sm p-1.5
  }

  table.list th a,
  .table-list-header a {
    @apply text-text-default
  }

  table.list td {
    @apply border-y border-border-divider text-text-default text-sm p-1.5
  }

  table.list td.checkbox {
    @apply w-[29px] p-0
  }

  table.issues td ul {
    list-style-type: disc;
    margin-left: 1rem;
    padding-left: 1rem;
  }

  table.issues td ul ul {
    list-style-type: circle;
    padding-left: 1rem;
  }

  table.issues td ul ul ul {
    list-style-type: square;
  }

  table.issues td ol {
    list-style-type: decimal;
    margin-left: 1rem;
    padding-left: 1rem;
  }

  table.issues td ul + ol,
  table.issues td ul + ul,
  table.issues td ol + ol,
  table.issues td ol + ul {
    margin-top: 0.5rem;
  }

  table.issues td pre {
    margin-bottom: 0.5rem;
  }

  tr.project.closed td,
  tr.project.archived td,
  tr.project.closed td a,
  tr.project.archived td a {
    @apply text-text-caption/70
  }

  #issue_tree td.buttons,
  #relations td.buttons {
    @apply w-[82px] p-1.5
  }

  #issue_tree td.buttons a:last-child,
  #relations td.buttons a:last-child {
    @apply ml-2
  }

  #issue_tree .subject a,
  #relations .subject a {
    @apply text-sm
  }


  #issue_tree tr:first-child td,
  #relations tr:first-child td {
    @apply border-t border-border-divider
  }

  tr span.expander,
  .gantt_subjects div > span.expander {
    @apply pl-4
  }

  table.boards a.board {
    background-image: url(images/chat_bubble_default.svg);
    background-size: 14px 14px;
  }

  table.boards td.last-message {
    @apply text-sm
  }

  tr.message.sticky td.subject.icon {
    background-position: 0.5rem 50%;

    @apply pl-7
  }

  table.custom_fields .icon-sort-handle {
    display: inline-block;
    width: 28px;
    height: 28px;
    background-position: center center;
    vertical-align: middle;

    @apply bg-background-secondary p-0 rounded-md
  }

  .attachments table td {
    @apply border-none p-1
  }

  table.permissions td.role {
    @apply text-sm text-text-caption
  }


  // filecontent
  table.filecontent {
    @apply mt-2
  }


  // transitions
  table.transitions td.enabled {
    @apply bg-status-successLight
  }


  // enumerations
  table.list.enumerations {
    @apply mt-2 mb-10
  }


  // groups
  #list_organizations#list_organizations tr.organization.idnt td.name {
    background-image: url(images/subproject_default.svg);
  }

  // lychee_groupsが入っていない場合
  table.members .member .icon-group {
    @apply bg-[6px_50%] pl-6
  }


  table.messages td.subject.icon-locked {
    @apply pl-7 bg-[left_0.5rem_center]
  }

  tr.idnt td.subject, tr.idnt td.name {
    background: url(images/subproject_default.svg) no-repeat 2px 50%;
    background-size: 12px;
  }

  tr.idnt-1 td.subject, tr.idnt-1 td.name {
    padding-left: 24px;
    background-position: 8px 50%;
  }

  tr.idnt-2 td.subject, tr.idnt-2 td.name {
    padding-left: 40px;
    background-position: 24px 50%;
  }

  tr.idnt-3 td.subject, tr.idnt-3 td.name {
    padding-left: 56px;
    background-position: 40px 50%;
  }

  tr.idnt-4 td.subject, tr.idnt-4 td.name {
    padding-left: 72px;
    background-position: 56px 50%;
  }

  tr.idnt-5 td.subject, tr.idnt-5 td.name {
    padding-left: 88px;
    background-position: 72px 50%;
  }

  tr.idnt-6 td.subject, tr.idnt-6 td.name {
    padding-left: 104px;
    background-position: 88px 50%;
  }

  tr.idnt-7 td.subject, tr.idnt-7 td.name {
    padding-left: 120px;
    background-position: 104px 50%;
  }

  tr.idnt-8 td.subject, tr.idnt-8 td.name {
    padding-left: 136px;
    background-position: 120px 50%;
  }

  tr.idnt-9 td.subject, tr.idnt-9 td.name {
    padding-left: 152px;
    background-position: 136px 50%;
  }


  // 管理→トラッカー→サマリー、管理→ロールと権限→権限レポートの表のグループ行
  table.permissions .group td,
  table.tracker-summary .group td {
    @apply bg-background-secondary/50
  }
}