@layer components {
  /* TopMenu */
  #top-menu {
    @apply overflow-y-auto fixed top-0 left-0 flex flex-col w-[52px] h-full bg-background-secondary text-xs leading-5 p-4 z-[699] pt-[69px]
  }

  #top-menu::-webkit-scrollbar {
    @apply hidden
  }

  // 閉じているとき
  #top-menu.aw_topMenuHover {
    @apply w-[180px] z-[9999]
  }

  #top-menu > ul {
    @apply flex flex-col mb-auto
  }

  #top-menu li:not(:first-child) {
    @apply mt-2
  }

  #top-menu a {
    @apply text-text-default
  }

  #top-menu a:hover {
    @apply no-underline opacity-60 transition-opacity
  }

  .isTopMenuOpen #top-menu {
    @apply w-[180px]
  }


  /* TopMenuの開閉ボタン */
  .aw_toggleTopMenu {
    background-image: url(images/menu_dark.svg);
    @apply block overflow-hidden indent-[100%] whitespace-nowrap
  }

  .aw_toggleTopMenu:hover {
    @apply opacity-60
  }

  #top-menu.aw_topMenuHover .aw_toggleTopMenu {
    background-image: url(images/keep_dark.svg);
    @apply overflow-visible indent-0 pl-1
  }

  .isTopMenuOpen #top-menu .aw_toggleTopMenu {
    background-image: url(images/chevron_left_dark.svg);
  }

  // 開いているときにマウスオーバーしても「メニューを固定する」というラベルは表示しない
  .isTopMenuOpen #top-menu.aw_topMenuHover .aw_toggleTopMenu {
    @apply overflow-hidden indent-[100%]
  }


  /* top-menuのアイコン化管理 */
  #top-menu > ul > li > a {
    @apply relative block overflow-hidden indent-[100%] whitespace-nowrap bg-no-repeat bg-[length:20px_20px] bg-[left_3px] min-h-[20px] py-1
  }

  #top-menu.aw_topMenuHover > ul > li > a {
    @apply overflow-visible indent-0 whitespace-normal pl-6
  }

  .isTopMenuOpen #top-menu > ul > li > a {
    @apply overflow-visible indent-0 whitespace-normal pl-6
  }

  /* top-menuのlychee系 */
  // 独自アイコンを用意するため、lycheeアイコンは非表示にする
  #top-menu .lychee-icon.lychee-icon::before {
    content: none;
  }


  /* その他おすすめOSS */
  #top-menu > ul a {
    // Note: OSSで追加されたメニューか判断するすべがないため、デフォルトでOSS用のアイコンを適用しておく
    //       それ以外を固有アイコンで上書きする
    background-image: url(images/oss_dark.svg);
  }

  /* ホーム */
  #top-menu > ul a.home {
    background-image: url(images/home_dark.svg);
  }


  /* マイページ */
  #top-menu > ul a.my-page {
    background-image: url(images/badge_dark.svg);
  }


  /* プロジェクト */
  #top-menu > ul a.projects {
    background-image: url(images/widgets_dark.svg);
  }


  /* LRM */
  #top-menu > ul a.lychee-icon.resource-management {
    background-image: url(images/lrm_dark.svg);
    @apply block bg-[left_center]
  }


  /* 横断LPR */
  #top-menu > ul a.lychee-icon.project-reports {
    background-image: url(images/lpr_dark.svg);
    @apply block bg-[left_center]
  }


  /* work_plan: 作業予定 */
  #top-menu > ul a.lychee-icon.lychee-work-plan {
    background-image: url(images/work_plan_dark.svg);
  }


  /* time_management: 作業実績 */
  #top-menu > ul a.lychee-icon.time-management {
    background-image: url(images/time_management_dark.svg);
  }


  /* lychee_help */
  #top-menu > ul a.lychee-icon.lychee-help {
    background-image: url(images/help_dark.svg);
  }


  /* 管理 */
  #top-menu > ul a.administration {
    background-image: url(images/manage_accounts_dark.svg);
  }



  /* loggedas */
  #loggedas {
    @apply block overflow-hidden indent-[100%] whitespace-nowrap border-t border-border-default mt-4
  }

  #loggedas a {
    @apply min-h-[20px] py-1
  }

  #loggedas .user {
    background-image: url(images/person_dark.svg);
    @apply block overflow-hidden indent-[100%] whitespace-nowrap bg-no-repeat bg-[length:20px_20px] bg-[left_center]
  }

  // 開いているとき
  #top-menu.aw_topMenuHover #loggedas .user {
    @apply overflow-visible indent-0 pl-6
  }

  .isTopMenuOpen #top-menu #loggedas .user {
    @apply overflow-visible indent-0 pl-6
  }

  /* account */
  #account ul {
    @apply flex flex-col
  }

  #account li {
    // Note: feedbackリンクはちらつき対策のために#account ulの先頭に追加している
    //       表示の順番としては最後にしたいので、feedbackリンクのみorderを4、それ以外は1として順番を管理している
    @apply order-1
  }

  #account ul li {
    @apply mt-2
  }

  #account ul li a {
    @apply min-h-[20px] py-1
  }

  // 閉じているとき
  #account ul li a:not(.lychee-message-box-icon) {
    @apply block overflow-hidden indent-[100%] whitespace-nowrap
  }

  /* MessageBox: 閉じているとき */
  #top-menu .lychee-message-box-icon.lychee-message-box-icon,
  #top-menu .lychee-message-box-icon.lychee-message-box-icon.unread {
    background-image: url(images/mail_dark.svg);
    @apply relative bg-no-repeat bg-[length:20px_20px] bg-[left_center] pl-6
  }

  #top-menu .lychee-message-box-icon.lychee-message-box-icon::before,
  #top-menu .lychee-message-box-icon.lychee-message-box-icon.unread::before {
    content: '';
  }

  #top-menu .lychee-message-box-icon.lychee-message-box-icon.unread::after {
    content: '';
    @apply absolute -top-[2px] right-[1px] block w-[10px] h-[10px] bg-status-danger rounded-full
  }


  /* MessageBox: 開いているとき */
  // 未読なし
  #top-menu.aw_topMenuHover .lychee-message-box-icon.lychee-message-box-icon,
  #top-menu.aw_topMenuHover .lychee-message-box-icon.lychee-message-box-icon.unread {
    @apply bg-[left_center]
  }

  #top-menu.aw_topMenuHover .lychee-message-box-icon.lychee-message-box-icon::before {
    content: 'メッセージ';
  }

  // 未読ありの場合
  #top-menu.aw_topMenuHover .lychee-message-box-icon.lychee-message-box-icon.unread::before {
    content: 'メッセージがあります';
    @apply font-bold
  }

  #top-menu.aw_topMenuHover .lychee-message-box-icon.lychee-message-box-icon.unread::after {
    @apply -right-[8px]
  }

  .isTopMenuOpen #top-menu .lychee-message-box-icon.lychee-message-box-icon::before {
    content: 'メッセージ';
  }

  .isTopMenuOpen #top-menu .lychee-message-box-icon.lychee-message-box-icon.unread::before {
    content: 'メッセージがあります';
    @apply font-bold
  }

  .isTopMenuOpen #top-menu .lychee-message-box-icon.lychee-message-box-icon.unread::after {
    @apply -right-[8px]
  }


  /* 個人設定 */
  #top-menu .my-account {
    background-image: url(images/construnction_dark.svg);
    @apply bg-no-repeat bg-[length:20px_20px] bg-[left_center]
  }

  // 開いているとき
  #top-menu.aw_topMenuHover .my-account {
    @apply overflow-visible indent-0 pl-6
  }

  /* ログアウト */
  #top-menu .logout {
    background-image: url(images/logout_dark.svg);
    @apply bg-no-repeat bg-[length:20px_20px] bg-[left_center]
  }

  // 開いているとき
  #top-menu.aw_topMenuHover .logout {
    @apply overflow-visible indent-0 pl-6
  }


  /* ログイン */
  #top-menu .login {
    background-image: url(images/login_dark.svg);
    @apply bg-no-repeat bg-[length:20px_20px] bg-[left_center]
  }

  // 開いているとき
  #top-menu.aw_topMenuHover .login {
    @apply overflow-visible indent-0 pl-6
  }


  /* 登録する */
  #top-menu .register {
    background-image: url(images/person_add_dark.svg);
    @apply bg-no-repeat bg-[length:20px_20px] bg-[left_center]
  }

  // 開いているとき
  #top-menu.aw_topMenuHover .register {
    @apply overflow-visible indent-0 pl-6
  }


  /* フィードバックリンク */
  .aw_fbLink {
    background-image: url(images/feedback_dark.svg);
    @apply bg-no-repeat bg-[length:20px_20px] bg-[left_center]
  }

  // 閉じているとき
  #top-menu.aw_topMenuHover .aw_fbLink {
    @apply overflow-visible indent-0 pl-6
  }

  // isTopMenuOpen
  .isTopMenuOpen #top-menu #account ul li a {
    @apply overflow-visible indent-0 pl-6
  }


  /* Billing */
  // 上部にコピーしたメッセージのスタイル
  .isBilling #wrapper > #lychee-billng-global-message {
    background-image: url(images/error_danger.svg);
    @apply h-[28px] bg-no-repeat bg-[8px_center] bg-[length:16px_16px] bg-status-warningLight text-xs  text-text-default py-1.5 pr-2 pl-7
  }

  // もともとtop-menuに差し込まれていたものは非表示にしておく
  #top-menu #lychee-billng-global-message {
    @apply hidden
  }


  /* 順番の管理 */
  #top-menu > ul {
    @apply order-1
  }

  #top-menu #lychee-billng-global-message#lychee-billng-global-message {
    @apply order-2
  }

  #top-menu #loggedas {
    @apply order-3
  }

  #account {
    @apply order-4
  }

  #top-menu .login {
    @apply order-1
  }

  #top-menu .register {
    @apply order-2
  }
}