@layer components {
  #top-menu {
    @apply flex bg-background-primary border-b border-border-divider text-sm px-4 py-3
  }

  #top-menu ul {
    @apply flex
  }

  #top-menu li {
    @apply order-4 mr-4
  }

  #top-menu li.aw_topMenuHome {
    @apply order-1 mr-2
  }

  #top-menu li.aw_topMenuHelp {
    @apply order-2 relative mr-4 pr-4
  }

  #top-menu .aw_topMenuHelp::after {
    content: "";
    @apply absolute top-0 right-0 bottom-0 w-[1px] h-[60%] bg-border-divider m-auto
  }

  #top-menu a {
    @apply text-text-default
  }

  #top-menu a:hover {
    @apply no-underline opacity-60 transition-opacity
  }

  #top-menu .home {
    background-image: url(images/home_dark.svg);
    @apply cursor-pointer inline-block overflow-hidden indent-[100%] whitespace-nowrap bg-no-repeat bg-[length:22px_22px] w-6 h-6 bg-center align-middle
  }

  #top-menu .lychee-help {
    background-image: url(images/help_dark.svg);
    @apply cursor-pointer inline-block overflow-hidden indent-[100%] whitespace-nowrap bg-no-repeat bg-[length:22px_22px] w-6 h-6 bg-center align-middle
  }

  #top-menu .lychee-icon.lychee-help.lychee-help::before {
    @apply content-none
  }

  #top-menu .aw_fbLink {
    background-image: url(images/open_in_new_link.svg);
    @apply bg-no-repeat bg-[length:16px_16px] bg-[right_center] text-text-link pr-5
  }

  #top-menu .aw_fbLink:hover {
    @apply underline
  }

  #account {
    @apply order-3 ml-6
  }

  .action-login #top-menu,
  .action-lost_password #top-menu,
  .action-register #top-menu {
    @apply justify-end
  }

  .action-login #account 
  .action-register #account {
    @apply ml-0
  }

  #account ul li {
    @apply mr-0
  }

  #account ul li:first-child {
    @apply ml-0
  }

  #account ul li:not(:first-child) {
    @apply ml-3
  }

  #top-menu .my-account, #top-menu .logout {
    @apply bg-no-repeat pl-4
  }

  #top-menu .my-account {
    background-image: url(images/settings_dark.svg);
    background-repeat: no-repeat;
    @apply cursor-pointer inline-block overflow-hidden indent-[100%] whitespace-nowrap w-5 h-5 bg-center bg-[length:20px] align-middle
  }

  #top-menu .logout {
    background-image: url(images/logout_dark.svg);
    background-repeat: no-repeat;
    @apply cursor-pointer inline-block overflow-hidden indent-[100%] whitespace-nowrap w-5 h-5 bg-center bg-[length:20px] align-middle
  }

  #top-menu .register {
    background-image: url(images/person_add_default.svg);
    background-repeat: no-repeat;

    @apply order-2 pl-5
  }

  #top-menu .login {
    background-image: url(images/login_default.svg);
    background-repeat: no-repeat;

    @apply order-1 pl-5
  }

  #top-menu #loggedas {
    @apply order-2 text-text-onFill ml-auto pt-[1px]
  }

  #top-menu #loggedas a {
    background-image: url(images/person_default.svg);
    @apply bg-no-repeat bg-[left_center] text-text-default mt-0.5 pl-5
  }

  #top-menu > ul {
    @apply order-1 mr-auto
  }
}