@layer components {
  div.wiki-page .contextual a {opacity: 0.4}
  div.wiki-page .contextual a:hover {opacity: 1}

  div.wiki a:target + h1, div.wiki a:target + h2, div.wiki a:target + h3, div.wiki a:target + h4, div.wiki a:target + h5, div.wiki a:target + h6 {
    background-color:#DDEEFF;
  }

  /***** Wiki *****/
  // div.wiki {
  //   font-variant-numeric: proportional-nums;
  //   & table, & pre, & code, & ol>li::marker {
  //     font-variant-numeric: tabular-nums;
  //   }
  // }

  div.wiki .wiki-class-noborder, div.wiki .wiki-class-noborder td, div.wiki .wiki-class-noborder th {border:0;}

  div.wiki .external {
    background-position: 0% 60%;
    background-repeat: no-repeat;
    padding-left: 12px;
    background-image: url(../../../images/external.png);
  }

  div.wiki *:not(pre)>code, div.wiki>code {
    background: rgba(62, 91, 118, 0.08);
    padding: 0.1em 0.1em;
    border-radius: 0.1em;
  }

  div.wiki ul.toc {
    background-color: #ffffdd;
    border: 1px solid #e4e4e4;
    padding: 4px;
    line-height: 1.2em;
    margin-bottom: 12px;
    margin-right: 12px;
    margin-left: 0;
    display: table
  }
  * html div.wiki ul.toc { width: 50%; } /* IE6 doesn't autosize div */

  div.wiki ul.toc.right { float: right; margin-left: 12px; margin-right: 0; width: auto; }
  div.wiki ul.toc.left  { float: left; margin-right: 12px; margin-left: 0; width: auto; }
  div.wiki ul.toc ul { margin: 0; padding: 0; }
  div.wiki ul.toc li {list-style-type:none; margin: 0; font-size:0.75rem;}
  div.wiki ul.toc>li:first-child {margin-bottom: .5em; color: #777;}
  div.wiki ul.toc li li {margin-left: 1.5em; font-size:0.625rem;}
  div.wiki ul.toc a {
    font-size: 0.9em;
    font-weight: normal;
    text-decoration: none;
    color: #606060;
  }
  div.wiki ul.toc a:hover { color: #c61a1a; text-decoration: underline;}

  a.wiki-anchor { display: none; margin-left: 6px; text-decoration: none; }
  a.wiki-anchor:hover { color: #aaa !important; text-decoration: none; }
  h1:hover a.wiki-anchor, h2:hover a.wiki-anchor, h3:hover a.wiki-anchor, h4:hover a.wiki-anchor, h5:hover a.wiki-anchor, h6:hover a.wiki-anchor { display: inline; color: #ddd; }

  div.wiki img {vertical-align:middle; max-width:100%;}
  div.wiki .task-list {
    list-style-type: none;
    padding-left: 0px;
  }
  div.wiki .task-list input.task-list-item-checkbox {
    height: initial;
  }

  .wiki.wiki-page {
    @apply clear-both bg-background-primary border border-border-divider mt-4 mb-6 p-8 rounded-md
  }

  .wiki-page + fieldset legend + div {
    @apply bg-background-secondary/50 mt-2 p-4 rounded-md
  }

  .wiki-page + fieldset legend + div .box {
    @apply mb-4
  }

  .wiki a {
    word-wrap: break-word;
  }

  .wiki a.new {
    @apply text-text-danger
  }

  .wiki h1 {
    @apply text-text-default text-4xl font-bold mb-4
  }

  .wiki h1 ~ h1 {
    @apply mt-10
  }

  .wiki h2 {
    @apply border-b border-border-default text-text-default text-2xl font-bold mt-9 mb-4 pb-2
  }

  .wiki h3 {
    @apply text-text-default text-lg font-bold mt-4 mb-2
  }

  .wiki h4 {
    @apply text-text-default text-base font-bold mb-2
  }

  .wiki h5 {
    @apply text-sm font-bold mb-2
  }

  .wiki h6 {
    @apply text-text-caption text-sm font-bold mb-2
  }

  .wiki p {
    @apply text-text-default text-sm mb-6
  }

  .wiki ul {
    @apply list-disc ml-6 mb-6
  }

  .wiki ul li:not(:first-child) {
    @apply mt-2
  }

  .wiki ol {
    @apply list-decimal ml-6 mb-6
  }

  .wiki ol li:not(:first-child) {
    @apply mt-2
  }

  .wiki li > ul, .wiki li > ol {
    @apply mt-2 mb-0
  }

  .wiki li ul,
  .wiki li ol {
    @apply ml-4
  }

  .wiki p + ul,
  .wiki p + ol {
    @apply -mt-2
  }


  .wiki table {
    @apply border border-border-divider mb-4 p-2
  }

  .wiki th {
    @apply bg-background-secondary border border-border-divider text-text-default text-xs font-bold p-2
  }

  .wiki td {
    @apply border border-border-divider text-text-default text-sm p-2
  }


  .wiki hr,
  .controller-issues div.issue .wiki hr {
    @apply block h-[1px] my-4
  }


  .wiki pre {
    @apply bg-background-secondary border border-border-default text-xs mr-2 mb-4 ml-4 p-4 rounded-lg overflow-x-auto overflow-y-hidden
  }

  div.wiki *:not(pre)>code, div.wiki>code {
    @apply bg-background-secondary border border-border-default text-text-danger mx-0.5 py-0.5 px-1.5 rounded
  }

  .wiki blockquote pre {
    @apply ml-1.5
  }


  .wiki .task-list {
    @apply ml-0 mb-4
  }

  .wiki .task-list .task-list {
    @apply mt-2 ml-4
  }

  .wiki .task-list-item .task-list-item-checkbox + p {
    display: inline;
    margin-bottom: 8px;
  }


  .wiki ul.toc {
    @apply float-right max-w-[240px] min-w-[160px] bg-background-secondary border-none ml-4 p-4 rounded-md
  }

  .wiki ul.toc.right {
    @apply ml-4
  }

  .wiki ul.toc li {
    @apply text-sm
  }

  .wiki ul.toc > li:first-child {
    @apply text-text-caption mb-2
  }

  .wiki ul.toc li li {
    @apply text-xs mt-2 ml-4
  }

  .wiki ul.toc a {
    @apply text-xs
  }

  .wiki img {
    @apply border-2 border-border-divider my-2
  }


  // diff
  .text-diff {
    @apply bg-background-secondary border-none text-xs mt-2 rounded-md
  }

  #wiki_form textarea {
    @apply mt-0
  }

  #wiki_form p, #wiki_form fieldset {
    @apply mt-6
  }

  #wiki_form fieldset {
    @apply bg-background-primary border-border-divider p-4 rounded-md
  }

  #wiki_form fieldset legend {
    @apply font-bold
  }

  #wiki_form #existing-attachments {
    @apply border-b border-border-divider mb-4 pb-4
  }

  #wiki_form .new-attachments {
    @apply w-full
  }

  #wiki_form .box + p {
    @apply flex items-center
  }

  .wiki-page-version .buttons a:not([class]) {
    @apply whitespace-normal w-auto h-auto bg-transparent border-none indent-0
  }


  // 索引（名前順）
  .pages-hierarchy {
    @apply list-disc ml-6
  }

  .pages-hierarchy li:not(:first-child) {
    @apply mt-2
  }

  .pages-hierarchy .pages-hierarchy {
    @apply mt-2
  }

  // 索引（日付順）
  .controller-wiki.action-date_index {
    #content ul {
      @apply list-disc ml-6
    }

    #content h3 + ul li:not(:first-child) {
      @apply mt-2
    }

    #content ul + h3 {
      @apply mt-6
    }
  }


  /* Support 6.0 start */
  div.wiki table td[align=left], div.wiki table th[align=left] { text-align: left; }
  div.wiki table td[align=right], div.wiki table th[align=right] { text-align: right; }
  /* Support 6.0 end */


  /* 6.1 */
  ul.contains-task-list {
    list-style-type: none;
    margin-left: 0;
  }

  /***** CommonMark Alerts *****/
  .markdown-alert {
    border-left: 4px solid;
    padding-left: 0.5rem;
    margin: 1rem 0;
  }

  .markdown-alert-title {
    font-weight: bold;
  }

  .markdown-alert-title.markdown-alert-title {
    margin-bottom: 0.75rem;
  }

  .markdown-alert-title svg.icon-svg {
    display: inline-block;
  }

  .markdown-alert-tip { border-color: #37b24d; }
  .markdown-alert-tip .markdown-alert-title { color: #2b8a3e; }
  .markdown-alert-tip .markdown-alert-title svg { stroke: #2b8a3e; }

  .markdown-alert-important { border-color: #ae3ec9; }
  .markdown-alert-important .markdown-alert-title { color: #862e9c; }
  .markdown-alert-important .markdown-alert-title svg {stroke: #862e9c; }

  .markdown-alert-caution { border-color: #f59f00; }
  .markdown-alert-caution .markdown-alert-title { color: #e67700; }
  .markdown-alert-caution .markdown-alert-title svg { stroke: #e67700; }

  .markdown-alert-warning { border-color: #f76707; }
  .markdown-alert-warning .markdown-alert-title { color: #d9480f; }
  .markdown-alert-warning .markdown-alert-title svg { stroke: #d9480f; }

  .markdown-alert-note { border-color: #4263eb; }
  .markdown-alert-note .markdown-alert-title { color: #364fc7; }
  .markdown-alert-note .markdown-alert-title svg { stroke: #364fc7; }
  /* 6.1 */
}