@layer components {
  #wrapper {
    min-height: inherit;
    @apply overflow-hidden flex flex-col bg-transparent
  }

  #main {
    transition-property: margin-left;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
    @apply relative flex grow-[2] flex-row border-l border-border-divider
  }

  .has-main-menu #main {
    @apply ml-52
  }

  #main.nosidebar {
    @apply ml-0
  }

  .has-main-menu #main.nosidebar {
    @apply ml-52
  }

  // 開閉時の設定
  #main.isMainMenuClose,
  .has-main-menu #main.nosidebar.isMainMenuClose {
    transition-property: margin-left;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
    @apply ml-4
  }

  #main.isSidebarClose {
    // @apply border-r border-border-divider mr-4
  }

  #content {
    @apply relative overflow-x-auto grow p-6 order-1
  }

  .has-main-menu #content {
    @apply border-0 pl-6
  }

  #footer {
    @apply w-full bg-background-primary border-t border-border-divider text-text-caption p-2
  }

  // 見出しとcontextualのfloatによっておかしくなる箇所の調整
  #query_form {
    @apply clear-both block
  }

  #edit-news + p {
    @apply clear-both
  }

  .splitcontent {
    @apply clear-both
  }

  .splitcontentleft {
    @apply mr-3
  }

  .splitcontentright {
    @apply ml-3
  }
}