@layer components {
/*
  CONTENTS

  A) BASIC MOBILE RESETS
  B) HEADER & TOP MENUS
  C) MAIN CONTENT & SIDEBAR
  D) TOGGLE BUTTON & FLYOUT MENU
  E) UX ELEMENTS
  F) PAGE SPECIFIC STYLES
  G) FORMS
*/

.mobile-toggle-button,
.flyout-menu {
  display: none;
}

/*
  redmine's body is set to min-width: 900px
  add first breakpoint here and start adding responsiveness
*/

@media screen and (max-width: 1250px) {
}

@media screen and (max-width: 899px)
{
  /*----------------------------------------*\
    A) BASIC MOBILE RESETS
  \*----------------------------------------*/

  /*
    apply natural border box, see: http://www.paulirish.com/2012/box-sizing-border-box-ftw/
    this helps us to better deal with percentages and padding / margin
  */
  *,
  *:before,
  *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  body,
  html {
    height: 100%;
    margin: 0;
    padding: 0;
  }

  html {
    overflow-y: auto; /* avoid 2nd scrollbar on desktop */
    -webkit-text-size-adjust: 100%; /* prevent font scaling in landscape mode on webkit */
  }

  body {
    min-width: 0; /* reset the min-width of 900px */
    -webkit-overflow-scrolling: touch;
  }

  select {
    max-width: 100%;  /* prevent long names within select menues from breaking content */
  }

  #wrapper {
    position: relative;
    overflow-x: hidden; /* hide horizontal overflow */
    max-width: 100%;
    margin: 0;
  }

  #wrapper {
    margin-left: 0 !important;
  }

  .isBilling #wrapper {
    /* トライアル表示の考慮 */
    @apply pb-[28px]
  }

  /*----------------------------------------*\
    B) HEADER & TOP MENUS
  \*----------------------------------------*/

  #header {
    width: 100%;
    height: 64px; /* the height of our header on mobile */
    min-height: 0;
    margin: 0;
    padding: 0;
    border: none;
    position: fixed;
    z-index: 9999;
    @apply block bg-background-secondary
  }

  /* Hide project name on mobile (project name is still visible in select menu) */
  #header h1 {
    display: none !important;
  }

  /* reset #header a color for mobile toggle button */
  #header a.mobile-toggle-button {
    color: #f8f8f8;
  }


  /* Hide top-menu and main-menu on mobile, because it's placed in our flyout menu */
  #top-menu,
  #header #main-menu {
    display: none;
  }

  /* the quick search within header holding search form and #project_quick_jump_box box*/
  #header #quick-search {
    float: none;
    clear: none; /* there are themes which set clear property, this resets it */
    max-width: 100%; /* reset max-width */
    margin: 0;
    background: inherit;
  }

  /* styles for combobox within quick-search (#project_quick_jump_box) */
  #project-jump.drdn {
    position: absolute;
    top: 0px;
    left: 0;

    width: 100%;
    max-width: 100%;
    height: 2em;
    height: 64px;
    padding: 5px;
    padding-right: 72px;
    padding-left: 20px;
  }
  #project-jump .drdn-trigger {
    font-weight:bold;
    display:block;
    width:100%;
    padding-left:24px;
    background:transparent;
    height:50px;
    border:0;

    @apply text-text-default text-base leading-[40px]
  }

  #project-jump .drdn-trigger:before {
    position: absolute;
    pointer-events: none;
    background-image: url(images/expand_more_default.svg);
    @apply content-[''] cursor-pointer left-3 top-1/2 block overflow-hidden indent-[100%] whitespace-nowrap w-6 h-6 bg-no-repeat bg-center bg-[length:24px_24px] align-middle -translate-y-1/2 transition-transform
  }
  #project-jump.expanded .drdn-trigger:before {
    @apply -rotate-180 transition-transform
  }

  #project-jump .drdn-content {
    position:absolute;
    left:0px;
    top:64px;
    width:100%;
    font-size:0.9375rem;
    font-weight:normal;
  }
  #project-jump .drdn-content .autocomplete {
    height:40px;
    font-size:1.25rem;
  }
  #project-jump .drdn-content a {
    padding:8px;
  }

  #header #quick-search form {
    display: none;
  }

  /*----------------------------------------*\
    C) MAIN CONTENT & SIDEBAR
  \*----------------------------------------*/

  #main {
    padding: 64px 0 0; /* padding-top equals header height */
  }

  #main.nosidebar #content,
  div#content {
    width: 100%;
    min-height: 0; /* reset min-height of #content */
    margin: 0;
  }

  /* hide sidebar and sidebar switch panel, since it's placed in mobile flyout menu */
  #sidebar,
  #sidebar-switch-panel {
    display: none;
  }

  .splitcontentleft, .splitcontentright, .splitcontenttop {
    width: 100%;
    flex: auto;
    margin-right: 0;
    margin-left: 0;

    @apply mb-4
  }

  /*----------------------------------------*\
    D) TOGGLE BUTTON & FLYOUT MENU
  \*----------------------------------------*/
  .aw_toggleSidebar {
    @apply hidden
  }

  .mobile-toggle-button {
    font-size: 2.625rem;
    line-height: 64px;

    position: relative;
    z-index: 10;

    display: block; /* remove display: none; of non-mobile version */
    float: right;

    width: 60px;
    height: 64px;
    margin-top: 0;

    text-align: center;

    @apply border-l border-border-default
  }

  .mobile-toggle-button:hover,
  .mobile-toggle-button:active {
    text-decoration: none;
  }

  .mobile-toggle-button:after {
    background-image: url(images/menu_dark.svg);
    @apply content-['メニュー'] cursor-pointer block overflow-hidden indent-[100%] whitespace-nowrap w-full h-full bg-no-repeat bg-center bg-[length:24px_24px] align-middle
  }

  /* search magnifier icon */
  .search-magnifier {
    background: url(images/search_default.svg);
    @apply inline-block overflow-hidden indent-[100%] whitespace-nowrap w-6 h-6 bg-center bg-no-repeat align-middle
  }

  .search-magnifier--flyout {
    @apply absolute top-4 left-3 z-[1]
  }

  /* Flyout Menu */

  .flyout-menu {
    position: absolute;
    right: -250px;

    overflow-x: hidden;

    width: 250px;
    height: 100%;
    margin: 0; /* reset margin for themes that define it */
    padding: 0; /* reset padding for themes that define it */

    @apply block bg-background-primary border-l border-border-divider text-text-default shadow-xl
  }

  /* avoid zoom on search input focus for ios devices */
  .flyout-menu input[type='text'] {
    @apply text-base
  }

  .flyout-menu h3 {
    @apply uppercase border-t border-border-divider text-text-default text-xs mt-2 pt-4 px-3 pb-1
  }

  .flyout-menu .flyout-menu__avatar {
    margin-top: -1px; /* move avatar up 1px */
    padding-left: 0;
  }

  .js-project-menu,
  .js-general-menu,
  .js-sidebar {
    @apply block px-2
  }

  .js-profile-menu {
    @apply block px-2 pb-2
  }

  .flyout-menu__sidebar > form {
    display: block;
  }

  .flyout-menu__sidebar > form h3 {
    margin-left: -8px;
  }

  .flyout-menu__sidebar > form label {
    @apply block w-full px-3
  }

  .flyout-menu__sidebar > form br  br {
    display: none;
  }

  /* Targets list containing checkboxes (e.g. activities sidebar) in flyout menu */
  .flyout-menu__sidebar form > ul {
    margin-left: -8px;
    padding-left: 0;
  }

  .flyout-menu__sidebar form > ul li {
    line-height: 39px;
    display: block;
    padding-left: 8px;
    border-top: 1px solid rgba(255,255,255,.1);
  }

  .flyout-menu__sidebar form > ul li:first-child {
    border-top: none;
  }

  .flyout-menu__sidebar form > ul li label {
    margin: 0;
  }

  .flyout-menu__sidebar form > ul li label a {
    line-height: 1;
    display: inline;
    padding-left: 0;
    border: none;
  }

  .flyout-menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .flyout-menu #watchers {
    display: -webkit-flex;
    display: -webkit-box;
    display: flex;
    flex-direction: column;

    -webkit-flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
  }

  .flyout-menu #watchers .contextual {
    -webkit-box-ordinal-group: 4;
    -webkit-order: 3;
    order: 3;
  }

  .flyout-menu #watchers ul li {
    display: -webkit-flex;
    display: -webkit-box;
    display: flex;
    flex-direction: row;

    -webkit-flex-direction: row;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-align-items: center;
    -webkit-box-align: center;
    align-items: center;
  }

  .flyout-menu ul li:not(:first-child) {
    @apply mt-1
  }

  .flyout-menu ul li a {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    border-top: 1px solid rgba(255,255,255,.1);
    @apply rounded-md
  }

  .flyout-menu ul li a:hover {
    @apply bg-background-secondary
  }

  .flyout-menu a {
    @apply text-text-default py-2 px-3
  }

  .flyout-menu ul li a:hover {
    @apply no-underline
  }

  .flyout-menu ul li a.new-object,
  .new-object ~ .menu-children {
    @apply hidden
  }

  .flyout-menu .js-profile-menu .aw_fbLink_li {
    @apply border-none pt-0
  }

  .flyout-menu .js-profile-menu ul {
    @apply flex flex-col
  }

  .flyout-menu .js-profile-menu ul li a {
    @apply bg-no-repeat bg-[length:16px_16px] bg-[12px_center] text-text-default py-2 pr-3 pl-8
  }

  /* アイコン */
  .flyout-menu .js-profile-menu a {
    // Note: ここにメニューを追加するOSSへの対策として、何もない場合はOSSアイコンを追加する
    //       例）redmine work timeなど
    background-image: url(images/oss_dark.svg);
  }

  .flyout-menu .js-profile-menu .login {
    background-image: url(images/login_dark.svg);
  }

  .flyout-menu .js-profile-menu .logout {
    background-image: url(images/logout_dark.svg);
  }

  .flyout-menu .js-profile-menu .register {
    background-image: url(images/person_add_dark.svg);
  }

  .flyout-menu .js-profile-menu .my-account {
    background-image: url(images/construnction_dark.svg);
  }

  /* メッセージボックス */
  .flyout-menu .lychee-message-box-icon.lychee-message-box-icon::before {
    content: none;
    @apply pl-0 scale-100
  }

  // 未読ありの場合
  .flyout-menu .lychee-message-box-icon.lychee-message-box-icon.unread::before {
    content: none;
    @apply font-bold
  }

  .flyout-menu .lychee-message-box-icon.lychee-message-box-icon {
    background-image: url(images/mail_dark.svg);
    @apply bg-no-repeat bg-[length:16px_16px] bg-[12px_center] pl-8
  }

  .flyout-menu .lychee-message-box-icon.lychee-message-box-icon.unread {
    background-image: url(images/mail_unread_dark.svg);
  }

  /* ヘルプ */
  .flyout-menu .lychee-help.lychee-help {
    background-image: url(images/help_dark.svg);
    @apply bg-no-repeat bg-[length:16px_16px] bg-[12px_center] pl-8
  }

  .flyout-menu .lychee-help.lychee-help::before {
    content: none;
  }

  /* billingのメッセージ */
  .isBilling #wrapper > #lychee-billng-global-message {
    @apply fixed bottom-0 w-full z-[9999]
  }

  /* fbリンク調整 */
  .flyout-menu .js-profile-menu .aw_fbLink {
    background-image: url(images/feedback_dark.svg);
    padding-left: 2rem !important;
  }

  /* Left flyout search container */
  .flyout-menu__search {
    @apply p-2
  }

  .flyout-menu__search input[type='text'] {
    @apply w-full pl-7
  }

  .flyout-menu__avatar {
    @apply flex mx-2
  }

  .flyout-menu__avatar img.gravatar {
    width: 40px;
    height: 40px;
    padding: 0;
    vertical-align: top;
    border-width: 0;
  }

  .flyout-menu__avatar a {
    @apply no-underline
  }

  /* avatar */
  .flyout-menu__avatar .user {
    // padding-left: 15px;
    // padding-right: 15px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    -webkit-flex-grow: 1;
        -ms-flex-grow: 1;
            flex-grow: 1;
    @apply pt-2 px-3 rounded-md
  }

  .flyout-menu__avatar--no-avatar a.user:hover {
    @apply bg-background-secondary
  }

  .flyout-is-active body {
    overflow: hidden; /* for body not to have scrollbars when left flyout menu is active */
  }

  html.flyout-is-active {
    overflow: hidden;
  }

  .flyout-is-active #wrapper, .flyout-is-active #header {
    right: 250px; /* when left flyout is active, move body and header to the right (same amount like flyout-menu's width) */
  }

  .flyout-is-active #wrapper {
    overflow: visible;
    height: 100%;
  }

  .flyout-is-active .mobile-toggle-button:after {
    background-image: url(images/close_dark.svg);
  }

  .flyout-is-active #main {
    /*
     * only relevant for devices with cursor when flyout it active, in order to show,
     * that whole wrapper content is clickable and closes flyout menu
     */
    cursor: pointer;
  }

  /* Custom Query */
  .flyout-menu .queries li {
    @apply flex items-center
  }

  .flyout-menu .queries li .selected + .icon-only {
    @apply flex indent-[100%] ml-1
  }

  .flyout-menu .queries li .selected + .icon-only:hover {
    @apply bg-transparent
  }

  #admin-menu {
    padding-left: 0;
  }

  #admin-menu li {
    padding-bottom: 0;
  }

  #admin-menu a,
  #admin-menu a.selected {
    line-height: 40px;
    padding: 0;
    padding-left: 32px !important;
    background-position: 8px 50%;
  }

  #admin-menu .lychee-icon::before {
    @apply content-none
  }

  /*----------------------------------------*\
    E) UX ELEMENTS
  \*----------------------------------------*/

  .mobile-hide {display: none;}
  .mobile-show {display: initial;}

  // 特定のページでsubmitボタンが2つ表示される問題への対応
  // Note: mobile-show, mobile-hideで表示の制御を行っているが、ボタンスタイルを上書きしたことで、mobile-show, mobile-hiddenよりもボタン側の詳細度が高くなってしまい、mobile-show, mobile-hiddenのスタイルが効かなくなっているページがあるため
  input[type=submit],
  button[type=submit] {
    &.mobile-hide {
      display: none;
    }

    &.mobile-show {
      display: initial;
    }
  }

  /* Contextual Buttons */

  #content>.contextual {
    width: 100%;
    padding-left: 0; /* reset left padding in order to use whole space */
    white-space: normal;

    @apply float-none mb-4
  }

  .controller-issues #content .contextual {
    @apply mb-2
  }

  #content>.contextual .drdn-content {
  right:initial;
    left:0px;
    top:40px;
  }

  #content>.contextual .drdn .drdn-content a {
    padding-top: 9px;
    padding-bottom: 9px;
  }

  .flyout-menu .contextual {
    float: none;
  }

  /* loading indicator */
  #ajax-indicator {
    width: 60%;
    left: 20%;
  }

  /* jquery ui dialogs */
  .ui-dialog {
    max-width: 98%;
    margin: 1%;
  }

  .ui-dialog .ui-dialog-content {
    padding-left: 0;
    padding-right: 0;
  }

  /*----------------------------------------*\
    F) PAGE SPECIFIC STYLES
  \*----------------------------------------*/
  #content h2,
  .controller-issues #content>h2 {
    @apply mb-4
  }

  /* some themes add a margin to login page, remove it on mobile */
  .action-login #main {
    margin: 0;
  }

    // Sticky Issue Header
  div#sticky-issue-header {
    top: var(--mobile-header);
    left: 0;
    width: 100%;
  }

  .isTopMenuOpen div#sticky-issue-header {
    left: 0;
    width: 100%;
  }

  .lif-iframe-body div#sticky-issue-header {
    top: 0;
  }

  div#activity dl, #search-results {margin-left: 0;}

  .version-overview table.progress {width:75%;}
  div#version-summary {float:none; width:100%; margin-left:0;}
  .controller-versions.action-show div#roadmap .related-issues {width:100%;}

  /* History and Changeset */
  div#issue-changesets {
    float: none;
    width: auto;
    margin-left: 0;
    padding-left: 0;
    margin-bottom: 2em;
  }

  div#issue-changesets div.changeset {
    padding-top: 1em;
  }

  /* New Issue */
  #issue_is_private_wrap {
    @apply float-none
  }

  /* Tracker */
  .controller-trackers #tracker_project_ids {
    margin-top: 1rem;
  }

  /* プロジェクトごとのリスト */
  .controller-projects {
    #tab-content-per_project_lists ul[id^="per_project_enumerations_"] li:not(:first-child) {
      margin-top: 0.75rem;
    }

    #tab-content-per_project_lists ul[id^="per_project_enumerations_"] input[type="text"] {
      width: 70%;
    }

    #tab-content-per_project_lists div[id^="possible_values_list_"] > div:not(:first-child) {
      margin-top: 0.75rem;
    }

    #tab-content-per_project_lists div[id^="possible_values_list_"] input[type="text"] {
      width: 70%;
    }
  }

  /* mobile表示時の不自然なbox間の余白を削除 */
  // Note: mobile-hiddenにより、PC表示用の「作成」ボタンが非表示になることで、余白が不自然に空いてしまう
  .controller-trackers {
    .new_tracker .splitcontentleft .box:has(+ .mobile-show) {
      margin-bottom: 0;
    }
  }

  /* Gantt charts */
  /*
   * [1] override inline styles with important
   * [2] keep border between subjects and gantt area
   * [3] remove whitespace between subjects and gantt area
   * [4] maintain width due to [3]
   */
  .gantt_subjects_column {
    width: 60% !important; /* [1] */
  }

  .gantt_subjects_container {
    width: 100% !important;
    overflow: hidden;
  }

  .gantt_subjects_column .gantt_hdr {
    width: 100% !important;
    right: 0 !important; /* [2] */
    border-right: solid 1px #c0c0c0;
  }

  #gantt_area {
    left: -2px; /* [3] */
    margin-right: -2px; /* [4] */
  }

  /* new issue form */
  #all_attributes p:first-child {
    float: none !important;
  }

  #all_attributes #issue_tracker_id {
    width: 90%;
  }

  #issue_is_private_label {
    display: inline;
  }

  span#watchers_inputs {
    width: 100%;
  }

  /* issue edit form */
  label[for='issue_description'] ~ a .icon-edit {
    word-wrap: normal;
  }

  /* issues page */
  .controller-issues p.query-totals {
    margin-top: 0px;
    text-align: left;
  }

  #issue_tree table,
  #relations table {
    @apply block bg-transparent
  }

  #issue_tree thead,
  #issue_tree tbody,
  #relations thead,
  #relations tbody {
    @apply block
  }

  #issue_tree tr.issue,
  #relations tr.issue {
    @apply overflow-hidden box-border flex flex-wrap bg-background-primary border border-border-divider rounded-md
  }

  #issue_tree tr.issue ~ tr.issue,
  #relations tr.issue ~ tr.issue {
    @apply mt-2
  }

  #issue_tree tr.issue td,
  #relations tr.issue td {
    @apply box-border border-none
  }

  #issue_tree .issue > td:not(.checkbox), #relations .issue > td:not(.checkbox) {
    @apply block text-left
  }

  #issue_tree .issue > td.subject,
  #relations .issue > td.subject {
    @apply order-1 w-4/5 pt-2 pb-0
  }

  #issue_tree .issue > td.buttons,
  #relations .issue > td.buttons {
    @apply order-2 w-1/5 text-right pt-2 pr-2 pb-0
  }

  #issue_tree .issue > td:not(.subject, .buttons),
  #relations .issue > td:not(.subject, .buttons) {
    @apply order-3 w-1/5 pt-0.5 pb-2
  }

  #issue_tree .issue > td.status,
  #relations .issue > td.status {
    @apply pl-2
  }

  #issue_tree .issue > td.done_ratio,
  #relations .issue > td.done_ratio {
    @apply flex items-center pr-2
  }

  #issue_tree .issue > td.done_ratio .progress,
  #relations .issue > td.done_ratio .progress {
    @apply w-full
  }

  #issue_tree .issue .buttons a,
  #relations .issue .buttons a {
    @apply mx-0
  }

  #issue_tree .issue .buttons a:not(:first-child),
  #relations .issue .buttons a:not(:first-child) {
    @apply ml-2
  }

  #issue_tree,
  #relations {
    tr.idnt
    tr.idnt td.subject, tr.idnt td.name { padding-left: 24px}

    tr.idnt-1 { margin-left: 8px}
    tr.idnt-2 {margin-left: 16px;}
    tr.idnt-3 {margin-left: 24px;}
    tr.idnt-4 {margin-left: 32px;}
    tr.idnt-5 {margin-left: 40px;}
    tr.idnt-6 {margin-left: 48px;}
    tr.idnt-7 {margin-left: 56px;}
    tr.idnt-8 {margin-left: 64px;}
    tr.idnt-9 {margin-left: 72px;}
  }

  /*----------------------------------------*\
    G) FORMS
  \*----------------------------------------*/

  input, select, textarea {
    max-width: 100%;
  }

  .controller-settings {
    [id^="tab-content-"] .box.settings,
    [id^="tab-content-"] .box:has(> .settings) {
      @apply py-4
    }
  }

  /* tabular forms resets for mobile */
  .tabular p, .tabular.settings p, [id^="tab-content-"] .tabular.settings p {
    padding-left: 0;
  }

  [id^="tab-content-"] .tabular.settings > p {
    @apply border-solid border-b border-border-divider mb-4 pb-4
  }

  [id^="tab-content-"] .tabular.settings > p:last-of-type {
    @apply border-none mb-0
  }

  [id^="tab-content-"] .tabular.settings > p:hover::before {
    @apply content-none
  }

  .tabular label, .tabular.settings label, [id^="tab-content-"] .tabular.settings label {
    display: block;
    width: 100%;
    margin-left: 0;
    text-align: left;

    @apply mb-2
  }

  .tabular input, .tabular select, .tabular textarea {
    width: 100%;
    max-width: 100%;
  }

  .tabular input[type="checkbox"], .tabular input.date {
    width: auto;
    max-width: 95%;
  }

  /* attachment upload form */
  .attachments_fields span {
    position: relative;
    clear: both;
    margin-bottom: 1em;
    white-space: normal;
  }
  .attachments_fields span a.remove-upload {
    position: absolute;
    top: 0;
    right: 0;
  }

  .attachments_fields input.description {
    margin-left: 0;
    width: 100%;
  }

  /* Calendar */
  ul.cal {
    display: block
  }

  ul.cal .calhead {
    display: none
  }

  ul.cal .calbody {
    min-height: calc(1.2em * 3);

    @apply border-l-0 p-1
  }

  ul.cal .calbody .abbr-day {
    display: inline;
  }

  ul.cal .week-number {
    text-align: left;
    font-weight: bold;

    @apply bg-background-dark/90 text-text-onFill py-2
  }

  ul.cal .week-number .label-week {
    display: inline;
  }

  ul.cal .calbody p.day-num {
    font-size: 1.1em;
    text-align: left;
  }

  /*----------------------------------------*\
    H) PLUGINS
  \*----------------------------------------*/
  .controller-association_chart {
    #association_chart_query_form #filters table {
      @apply -ml-5
    }

    #association_chart_query_form #filters table tr {
      @apply flex flex-col
    }

    .le-header {
      @apply mb-4
    }

    #content .le-header h2 {
      @apply mb-0
    }

    .le-header-menu {
      @apply static
    }
  }

  .controller-lrm_queries {
    #group_keys {
      @apply w-[90%]
    }
  }

  .controller-resource_management {
    #tab-header {
      @apply flex-col
    }

    #tab-header-left,
    #tab-header-right {
      @apply w-full
    }

    #tab-header-left #group_keys_form {
      @apply ml-0
    }

    #tab-header-right {
      @apply mt-2
    }
  }

  .controller-lychee_licenses.controller-lychee_licenses {
    #new_registration table,
    #new_registration table thead,
    #new_registration table tbody,
    #new_registration table tr {
      @apply block
    }

    #new_registration table td {
      @apply block px-0
    }

    #new_registration table td + td {
      @apply pt-0
    }
  }

  .controller-lychee_issue_templates.action-new,
  .controller-lychee_issue_templates.action-edit {
    #checklist_for_new {
      @apply mb-4 pl-0
    }

    #checklist_for_new > label {
      @apply w-auto ml-0 pr-0 translate-y-0
    }
  }

  /* Project Report */
  // プロジェクト設定→レポート
  .controller-projects {
    #tab-content-project_report .tabular p {
      @apply pl-0
    }

    #tab-content-project_report .tabular label {
      @apply w-full ml-0
    }
  }

  /* その他 */
  .flyout-menu #watchers .group-name {
    @apply mt-0 ml-4 pt-4
  }

  .flyout-menu #watchers .watchers + .group-name {
    @apply mt-4
  }

  .flyout-menu #watchers .watchers {
    @apply ml-4
  }
}

@media all and (max-width: 599px) {
  span.pagination {text-align:center;}
  .pagination ul.pages li {display:none;}
  .pagination ul.pages li.current,
  .pagination ul.pages li.previous,
  .pagination ul.pages li.next {display:inline-block; width:32%; overflow:hidden;}

  #login-form {width:100%; margin-top:2em;}

  tr.issue td.subject,
  tr.issue td.parent-subject,
  tr.issue td.category,
  td.assigned_to,
  td.last_updated_by,
  tr.issue td.string,
  tr.issue td.text,
  tr.issue td.list,
  tr.issue td.relations,
  tr.issue td.parent {
    @apply whitespace-nowrap
  }
}

}